Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

speed up reduction
  drevalpy/datasets/dataset.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/naive_pred.py
  drevalpy/models/utils.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

beataml fixes
  drevalpy/models/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

curve_curator edge case fixing
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

curve_curator did not compute ln
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix dose mismatch
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

cc
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

redo accidental hpam fix
  drevalpy/models/baselines/hyperparameters.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

drug gnn first commit
  drevalpy/models/DrugGNN/__init__.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/DrugGNN/hyperparameters.yaml
  drevalpy/models/DrugGNN/utils.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

mypy
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/DrugGNN/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

lock
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

measure wrong
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

str typing
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

why was this in caps?
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

loading graphs fix
  drevalpy/models/DrugGNN/drug_gnn.py
  tests/models/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

enforce string ids
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

future warning fix and flaky output reduction
  tests/conftest.py
  tests/models/test_single_drug_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test fix
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

simplify gnn
  drevalpy/models/DrugGNN/drug_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

shorter test messages
  tests/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

typeguard fix
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

DrugGNN prediction mypy stuff
  drevalpy/models/DrugGNN/drug_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

epoch fix
  drevalpy/models/DrugGNN/drug_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

graph featurizer and ChemBertA transformer featurizer
  drevalpy/datasets/featurizer/create_drug_embeddings.py
  drevalpy/datasets/featurizer/create_drug_graphs.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

data path fix
  drevalpy/datasets/featurizer/create_drug_embeddings.py
  drevalpy/datasets/featurizer/create_drug_graphs.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Chemberta embedding based nn
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

registering embedding nn
  drevalpy/models/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

hpam chembertann
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

fix inheritance
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

rename metric to hpam_optimization_metric
  drevalpy/experiment.py
  drevalpy/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

delete historical stuff
  drevalpy/models/DrugGNN/utils.py
  tests/models/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

dependency
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

new versions
  Dockerfile
  docs/installation.rst
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

docs
  docs/memes.rst
  dreval_colab_demo.ipynb
Due: check-added-large-files, end-of-file-fixer

memes
  docs/_static/memes/isthisdrugresponse.jpeg
Due: check-added-large-files

normalize
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

normalize part2
  drevalpy/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

curve curator unit fix. now works with uM as input unit as stated in the docu
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fixing default normalize value
  drevalpy/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

this code was based on position in the csv column I really dont like that! so I changed the code instead of zenodo version 41
  drevalpy/visualization/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

merge fail fix
  tests/models/test_global_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
