Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

fixed individual tests
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/singledrug_elastic_net.py
  tests/individual_models/test_baselines.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy trainer_params
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

iterate features and load drug fingerprints tests were wrong
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy fix?
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy fix no 999999999
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

increase timeout
  drevalpy/datasets/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updating everything
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

fixed precommit and docs-build
  docs/requirements.txt
  tests/test_evaluation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor fixes visualization
  create_report.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

taking mean now
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor fix run_suite
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 7680579aada886e2c2b0f695ede7ed92c9ba40c6
  _static/searchtools.js
  searchindex.js
Due: end-of-file-fixer, trailing-whitespace

Update pyproject.toml to 1.2.0
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update conf.py to 1.2.0
  docs/conf.py
Due: black, flake8, pyupgrade

deploy: b440b81cfd203ba504737f1f0e50f664dc45e56c
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

reduced hyperparameters, faster GradientBoost model
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/MOLIR/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SuperFELTR/hyperparameters.yaml
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/sklearn_models.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new version
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: a0a5140613586bc59dda02e46b5bbb61e82bc128
  .buildinfo
  API.html
  _key_contributors.html
  _static/basic.css
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

log transform is an issue when gene expression contains 0 values -> swapped for np.arcsinh also: newer versions
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SuperFELTR/superfeltr.py
  poetry.lock
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updating to drevalpy 1.2.2
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updating requirements.txt
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

multiomics gene list fix
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/baselines/multi_omics_random_forest.py
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

multiomics gene list fix
  drevalpy/models/MOLIR/molir.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SuperFELTR/superfeltr.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

small fix all
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

small fix 2
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

small fix 3
  tests/individual_models/conftest.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix_tests
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

wrong gene_list fix test
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

test again
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update hyperparameters.yaml
  drevalpy/models/DIPK/hyperparameters.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

hpams
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

deploy: 327a1ac3a487b8b9eb42c40e88d23d72a4623e93
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

cs fix
  drevalpy/models/SRMF/srmf.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update pyproject.toml to 1.2.3
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update conf.py to 1.2.3
  docs/conf.py
Due: black, flake8, pyupgrade

deploy: 20dd7f66689c56cda157cc0d6cebc5038a386776
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

hashes missing
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix hashing, the check was wrong
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

replace group-wise normalization with effect normalization
  create_report.py
  drevalpy/evaluation.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/html_tables.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/utils.py
  drevalpy/visualization/vioheat.py
  drevalpy/visualization/violin.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
