Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

changed path
  publication_figures/main_results_dumbbellplots.ipynb
Due: end-of-file-fixer, trailing-whitespace

dipk save
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

from abstract to not implemented to make contributing easier
  drevalpy/models/drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cls method load
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy fix
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

change test folder name, because I do not like it and its annoying to type. I always do typos like induividual
  tests/models/__init__.py
  tests/models/conftest.py
  tests/models/test_baselines.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

tests
  tests/models/test_baselines.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

sdproteomics enet
  drevalpy/models/baselines/singledrug_elastic_net.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

tests
  drevalpy/experiment.py
  tests/test_tissue_mapping.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

some dipk refactoring
  drevalpy/models/DIPK/dipk.py
  tests/models/test_global_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cant save for test case with empty train data. Probably also need to handle this in experiment.py
  tests/models/test_single_drug_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

single drug models
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

path issues
  drevalpy/datasets/map_tissues.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

first commit meeffects transformations
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

only for baselines
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

some fixe
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/utils.py
  tests/test_run_suite.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

some fixe
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

single d model fix and path adaptions
  drevalpy/datasets/dataset.py
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

kleinster fix der kleinen fixes
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace

todo whut fix
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

reduce type duplication, comprehensive type hinting
  drevalpy/models/drp_model.py
  drevalpy/models/utils.py
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Fix DIPK model syntax and linting issues
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

trim_trailing
  README.md
Due: end-of-file-fixer, trailing-whitespace

typing errors
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix todo whut
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

response trasnformation unified
  drevalpy/datasets/dataset.py
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/response_transformation.py
  drevalpy/utils.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

transformerwrapper
  drevalpy/datasets/dataset.py
  drevalpy/experiment.py
  drevalpy/response_transformation.py
  drevalpy/utils.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

testing effect+std trans
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/response_transformation.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

sklearn load save
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/baselines/sklearn_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

save load naive
  drevalpy/experiment.py
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/baselines/naive_pred.py
  drevalpy/models/baselines/sklearn_models.py
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

important mypy fix
  create_report.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

sklearn instances must carry hyperparemters after building
  drevalpy/models/baselines/sklearn_models.py
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

multi omics pca saving fix
  drevalpy/models/baselines/multi_omics_random_forest.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

good catch by Judith
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

chore: normalize README.md to fix CI whitespace issues
  .gitattributes
Due: end-of-file-fixer, trailing-whitespace

sneaking in typo fix
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Updating to python 3.13
  .github/workflows/build_package.yml
  .github/workflows/publish_docs.yml
  .github/workflows/python-package.yml
  .github/workflows/run_tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
