Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        exclude: ^dreval_demo\.ipynb$
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901,N803,N806,S615
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace

Point the docs at the API and datasets that exist
  README.md
  docs/cli/datasets.rst
  docs/cli/experiments.rst
  docs/cli/extensions.rst
  docs/cli/models.rst
  docs/cli/pipeline_commands.rst
  docs/cli/quickstart.rst
  docs/cli/visualization.rst
  docs/concepts/datasets.rst
  docs/getting_started/installation.rst
  docs/index.rst
  docs/project/contributing.rst
  docs/python/api/index.rst
  docs/python/datasets.rst
  docs/python/experiments.rst
  docs/python/quickstart.rst
  dreval_colab_demo.ipynb
  drevalpy/components/featurizers/cell_line/gene_lists/__init__.py
  drevalpy/components/featurizers/cell_line/gene_lists/_make_gene_lists.py
  drevalpy/components/featurizers/cell_line/gene_lists/make_gene_lists.ipynb
  drevalpy/data/_paths.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Stop tracking .DS_Store
  .DS_Store
  .gitignore
Due: check-added-large-files, end-of-file-fixer

Narrow the search spaces that only cost tuning time
  drevalpy/components/featurizers/drug/chemberta.py
  drevalpy/components/featurizers/drug/fingerprints.py
  drevalpy/components/predictors/lightgbm_pred.py
  drevalpy/components/predictors/sklearn_models.py
  drevalpy/components/predictors/xgboost_pred.py
  tests/components/predictors/test_sklearn_tabular.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Apply the response transformation to the training target
  docs/cli/experiments.rst
  docs/python/experiments.rst
  drevalpy/_single.py
  drevalpy/cli/single.py
  drevalpy/models/component_stack.py
  drevalpy/models/drp_model.py
  drevalpy/models/tuning/hpo_runtime.py
  drevalpy/utils/__init__.py
  drevalpy/utils/response_transform.py
  tests/cli/test_single.py
  tests/models/test_response_transformation_call_sites.py
  tests/test_response_transformation_contract.py
  tests/test_single.py
  tests/utils/test_init.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Bound report memory and fix the metric contract it was hiding
  drevalpy/cli/report.py
  drevalpy/types/results/experiment.py
  drevalpy/types/results/model.py
  drevalpy/types/results/run.py
  drevalpy/visualization/_metric_names.py
  drevalpy/visualization/_progress.py
  drevalpy/visualization/plots/_group_metrics.py
  drevalpy/visualization/plots/comparison_scatter.py
  drevalpy/visualization/plots/critical_difference.py
  drevalpy/visualization/plots/heatmap.py
  drevalpy/visualization/plots/leaderboard.py
  drevalpy/visualization/plots/regression_scatter.py
  drevalpy/visualization/plots/violin.py
  drevalpy/visualization/report.py
  tests/cli/test_report.py
  tests/synthetic/results.py
  tests/test_visualization_payload_policy.py
  tests/types/results/test_experiment.py
  tests/types/results/test_model.py
  tests/types/results/test_run.py
  tests/visualization/plots/test_comparison_scatter.py
  tests/visualization/plots/test_critical_difference.py
  tests/visualization/plots/test_group_metrics.py
  tests/visualization/plots/test_heatmap.py
  tests/visualization/plots/test_leaderboard.py
  tests/visualization/plots/test_regression_scatter.py
  tests/visualization/plots/test_violin.py
  tests/visualization/test_metric_names.py
  tests/visualization/test_progress.py
  tests/visualization/test_report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Give LightGBM the OpenMP runtime it was borrowing from torch
  Dockerfile
  drevalpy/models/tuning/hpo.py
  tests/models/tuning/test_hpo.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Register the gen2 datasets and stop hardcoding the built-in list
  drevalpy/data/datasets/available_datasets.json
  tests/data/datasets/test_load.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Stop splitting on curves the fit itself calls meaningless
  README.md
  docs/cli/datasets.rst
  docs/concepts/datasets.rst
  docs/examples/toy_splitter.py
  docs/python/datasets.rst
  docs/python/extensions.rst
  drevalpy/components/featurizers/cell_line/gene_lists/_make_gene_lists.py
  drevalpy/data/__init__.py
  drevalpy/data/datasets/_load.py
  drevalpy/data/datasets/available_datasets.json
  drevalpy/data/quality.py
  drevalpy/data/splitters/lco.py
  drevalpy/data/splitters/ldo.py
  drevalpy/data/splitters/lpo.py
  drevalpy/data/splitters/lto.py
  drevalpy/plugin/__init__.py
  drevalpy/testing/synthetic.py
  drevalpy/types/data/dataset.py
  drevalpy/types/data/mudatalike.py
  pyproject.toml
  tests/data/datasets/test_load.py
  tests/data/splitters/_helpers.py
  tests/data/splitters/test_lco.py
  tests/data/splitters/test_ldo.py
  tests/data/splitters/test_lpo.py
  tests/data/splitters/test_lto.py
  tests/data/test_quality.py
  tests/plugin/test_init.py
  tests/registry/dataset/test_registry.py
  tests/registry/splitter/test_registry.py
  tests/registry/splitter/test_validation.py
  tests/synthetic/builders.py
  tests/test_integration.py
  tests/types/data/test_mudatalike.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Keep the per-curve errors and stop normalization depending on core count
  drevalpy/curation/__init__.py
  drevalpy/curation/_anndata.py
  drevalpy/curation/_fit.py
  drevalpy/curation/_normalize.py
  drevalpy/curation/_postprocess.py
  tests/curation/test_anndata.py
  tests/curation/test_fit.py
  tests/curation/test_init.py
  tests/curation/test_normalize.py
  tests/curation/test_postprocess.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Say pEC50 where the code means pEC50
  drevalpy/cli/curate.py
  drevalpy/data/utils.py
  drevalpy/visualization/plots/leaderboard.py
  tests/data/test_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Stop shipping 61 packages the code never imports
  drevalpy/components/featurizers/drug/_molgnet_network.py
  pyproject.toml
  uv.lock
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Ignore local editor and tooling config
  .gitignore
Due: check-added-large-files, end-of-file-fixer

Ignore only the agent config Cursor actually generates
  .gitignore
Due: check-added-large-files, end-of-file-fixer

Cut AGENTS.md down to the rules an agent can act on
  AGENTS.md
Due: check-added-large-files, end-of-file-fixer

feat(curation): accept external executor for parallel curve fitting
  drevalpy/curation/__init__.py
  drevalpy/curation/_fit.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor(curation): replace cores-based chunking with max_chunk_size
  drevalpy/curation/__init__.py
  drevalpy/curation/_fit.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Point dataset registry at gen3 S3 prefix
  drevalpy/data/datasets/available_datasets.json
  tests/data/datasets/test_load.py
  tests/registry/dataset/test_registry.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix curation tests for the cores -> max_chunk_size/max_workers rename
  tests/curation/conftest.py
  tests/curation/test_fit.py
  tests/curation/test_init.py
  tests/curation/test_normalize.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: encode predict-time features fresh and mask untrained drug embeddings in EnsembleMF
  drevalpy/models/EnsembleMF/ensemble_mf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: fit the rank feature transform on training cell lines only, not live per-call
  drevalpy/models/EnsembleMF/ensemble_mf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: rewrite PaccMann as a standalone module, fixing early stopping and dropping upstream cruft
  docs/drevalpy.models.PaccMann.rst
  drevalpy/models/PaccMann/hyperparameters.yaml
  drevalpy/models/PaccMann/network.py
  drevalpy/models/PaccMann/paccmann.py
  drevalpy/models/PaccMann/paccmann_network_v2.py
  drevalpy/models/PaccMann/utils/__init__.py
  drevalpy/models/PaccMann/utils/hyperparams.py
  drevalpy/models/PaccMann/utils/layers.py
  drevalpy/models/PaccMann/utils/loss_functions.py
  drevalpy/models/PaccMann/utils/utils.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

fix: address Copilot review findings on EnsembleMF
  drevalpy/models/EnsembleMF/ensemble_mf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

chore(deps): pin curve-curator to e98d052 (perf fixes)
  uv.lock
Due: check-added-large-files, end-of-file-fixer

Fix: always reduce early stopping set in train_final_model
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add regression test for early stopping reduction in train_final_model
  tests/test_final_model_early_stopping.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Persist the fitted response transformation with the final model
  drevalpy/experiment.py
  tests/test_final_model_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make the gene list of single-view sklearn models configurable
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
  tests/test_sklearn_gene_list.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

perf: cache loaded feature matrices between splits and models
  drevalpy/experiment.py
  tests/test_feature_cache.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add drug_mean response transformation (per-drug residualization)
  drevalpy/cli/pipeline.py
  drevalpy/datasets/dataset.py
  drevalpy/response_transformation.py
  drevalpy/utils.py
  tests/test_response_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix(DIPK): keep autoencoder matrices in host memory
  drevalpy/models/DIPK/gene_expression_encoder.py
  tests/test_dipk_autoencoder_memory.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat(DIPK): make the gene expression autoencoder configurable
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/gene_expression_encoder.py
  tests/test_dipk_autoencoder_parameters.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Allow None for response_transformation in train_final_model
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Use the concrete ElasticNetModel in the gene list tests
  tests/test_sklearn_gene_list.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade
