Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

fix: resolve typeguard runtime type check failures
  drevalpy/components/predictors/literature/sparsego/predictor.py
  tests/components/registry/test_metadata.py
  tests/components/registry/test_registration_metadata.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: use correct mypy ignore code for sparsego type conversions
  drevalpy/components/predictors/literature/sparsego/predictor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: add attr-defined to type ignore for sparsego fallback
  drevalpy/components/predictors/literature/sparsego/predictor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: resolve CI failures in lint, typecheck, and tests
  drevalpy/components/predictors/_tensor_data.py
  drevalpy/datasets/feature_dataset_csv.py
  drevalpy/datasets/featurizer/create_chemberta_drug_embeddings.py
  drevalpy/datasets/featurizer/create_drug_graphs.py
  drevalpy/datasets/featurizer/create_molgnet_pipeline.py
  drevalpy/datasets/featurizer/create_pharmaformer_drug_embeddings.py
  drevalpy/visualization/prep_results_format.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

fix: suppress ty false positives to unblock CI type check
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

fix: align PaccMann SMILES handling with upstream and drop dead code
  drevalpy/models/PaccMann/hyperparameters.yaml
  drevalpy/models/PaccMann/paccmann.py
  drevalpy/models/PaccMann/utils/hyperparams.py
  drevalpy/models/PaccMann/utils/layers.py
  drevalpy/models/PaccMann/utils/utils.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

refactor: reduce complexity of DrugResponseDataset.load_splits
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: augment PaccMann drugs with equivalent SMILES strings
  docs/installation.rst
  drevalpy/models/PaccMann/hyperparameters.yaml
  drevalpy/models/PaccMann/paccmann.py
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

docs: update API references to mu_experiment, export MuDataLike protocol
  README.md
  docs/concepts/evaluation.rst
  docs/python/api/index.rst
  docs/python/datasets.rst
  docs/python/experiments.rst
  docs/python/quickstart.rst
  docs/python/visualization.rst
  drevalpy/datasets/__init__.py
  drevalpy/datasets/splitting.py
  drevalpy/datasets/utils.py
  examples/custom_split_lco_fraction.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: drop historical residue from the PaccMann port
  drevalpy/models/PaccMann/paccmann.py
  drevalpy/models/PaccMann/paccmann_network_v2.py
  drevalpy/models/PaccMann/utils/layers.py
  drevalpy/models/PaccMann/utils/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: move build-time scripts out of package, simplify dataset registry
  dreval_colab_demo.ipynb
  drevalpy/cli/run_cv.py
  drevalpy/datasets/available_datasets.json
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  scripts/cellosaurus_parse.py
  scripts/download.py
  scripts/map_tissues.py
  tests/conftest.py
  tests/datasets/test_cellosaurus_parse.py
  tests/test_tissue_mapping.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add external dataset registration with fsspec downloads
  drevalpy/datasets/__init__.py
  drevalpy/datasets/loader.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

refactor: extract config into Pydantic-based datasets/config/ subpackage
  drevalpy/datasets/config/__init__.py
  drevalpy/datasets/config/io.py
  drevalpy/datasets/config/models.py
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: make DrevalConfig strict (forbid unknown keys)
  drevalpy/datasets/config/models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: registry as singleton class with dedicated datasets.json config
  drevalpy/datasets/__init__.py
  drevalpy/datasets/config/__init__.py
  drevalpy/datasets/loader.py
  drevalpy/datasets/registry/__init__.py
  drevalpy/datasets/registry/available_datasets.json
  drevalpy/datasets/registry/io.py
  drevalpy/datasets/registry/models.py
  drevalpy/datasets/registry/registry.py
  drevalpy/utils/validation.py
  pyproject.toml
  scripts/map_tissues.py
  tests/datasets/test_loader.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

feat: polish Registry class with rich output and module-level access
  drevalpy/__init__.py
  drevalpy/datasets/registry/__init__.py
  drevalpy/datasets/registry/available_datasets.json
  drevalpy/datasets/registry/registry.py
  drevalpy/utils/validation.py
  scripts/map_tissues.py
  tests/datasets/test_loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add global Rich-based logging, fix download streaming + corruption handling
  .gitignore
  drevalpy/datasets/loader.py
  drevalpy/log.py
  test.ipynb
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: use __repr__ only for Registry string output
  drevalpy/datasets/registry/registry.py
  tests/datasets/test_loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: move gene_lists.py to components/featurizers/cell_line/
  drevalpy/components/featurizers/cell_line/gene_lists.py
  drevalpy/components/featurizers/cell_line/landmark.py
  tests/components/featurizers/cell_line/test_gene_lists.py
  tests/components/featurizers/cell_line/test_landmark.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: move data structures into drevalpy.data.structures subpackage
  drevalpy/cli/run_cv.py
  drevalpy/components/feature_source.py
  drevalpy/components/model_input_batch.py
  drevalpy/components/model_input_build.py
  drevalpy/components/tuning/hpo.py
  drevalpy/components/tuning/hpo_runtime.py
  drevalpy/data/__init__.py
  drevalpy/data/loader.py
  drevalpy/data/structures/__init__.py
  drevalpy/data/structures/mudataset.py
  drevalpy/data/structures/response_batch.py
  drevalpy/data/structures/splitting.py
  drevalpy/experiment/fold.py
  drevalpy/models/_component_stack.py
  drevalpy/models/drp_model.py
  examples/custom_split_lco_fraction.py
  tests/components/predictors/neural_network/test_predictor.py
  tests/components/predictors/test_predictor_capability_contracts.py
  tests/components/predictors/test_single_drug_sklearn.py
  tests/components/test_extensions.py
  tests/components/test_model_input_batch.py
  tests/components/test_tuning.py
  tests/components/test_wandb_hpo.py
  tests/components/tuning/test_hpo.py
  tests/conftest.py
  tests/experiment/test_hpo.py
  tests/models/synthetic_fixtures.py
  tests/models/test_baselines.py
  tests/models/test_component_stack.py
  tests/models/test_construct_model.py
  tests/models/test_direct_component_harness.py
  tests/models/test_drp_model.py
  tests/models/test_factory_compat_contract.py
  tests/models/test_global_models.py
  tests/models/test_literature_lifecycle.py
  tests/models/test_single_drug_models.py
  tests/test_hpam_tune.py
  tests/test_mudataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: update all imports after datasets->datasets, splitting->splitters rename
  drevalpy/cli/run_cv.py
  drevalpy/data/__init__.py
  drevalpy/data/datasets/__init__.py
  drevalpy/data/datasets/available_datasets.json
  drevalpy/data/datasets/io.py
  drevalpy/data/datasets/models.py
  drevalpy/data/datasets/registry.py
  drevalpy/data/loader.py
  drevalpy/data/splitters/__init__.py
  drevalpy/data/splitters/lco.py
  drevalpy/data/splitters/ldo.py
  drevalpy/data/splitters/lpo.py
  drevalpy/data/splitters/lto.py
  drevalpy/data/splitters/registry.py
  drevalpy/experiment/__init__.py
  drevalpy/experiment/cross_study.py
  drevalpy/experiment/final_model.py
  drevalpy/experiment/hpo.py
  drevalpy/experiment/randomization.py
  drevalpy/experiment/robustness.py
  drevalpy/experiment/run.py
  drevalpy/experiment/splits.py
  drevalpy/experiment/training.py
  examples/custom_split_lco_fraction.py
  scripts/map_tissues.py
  tests/components/test_tuning.py
  tests/components/tuning/test_hpo.py
  tests/data/test_loader.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
  tests/test_hpam_tune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add splitter validation layer with automatic leakage detection
  drevalpy/data/splitters/__init__.py
  drevalpy/data/splitters/lco.py
  drevalpy/data/splitters/ldo.py
  drevalpy/data/splitters/lpo.py
  drevalpy/data/splitters/lto.py
  drevalpy/data/splitters/registry.py
  drevalpy/data/splitters/validation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add MuDataset.split() convenience method
  drevalpy/data/structures/mudataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: move loader into datasets/, add top-level load/split API
  dreval_colab_demo.ipynb
  drevalpy/cli/model_testing.py
  drevalpy/data/__init__.py
  drevalpy/data/datasets/__init__.py
  drevalpy/data/datasets/load.py
  drevalpy/data/datasets/registry.py
  drevalpy/data/structures/mudataset.py
  drevalpy/utils/pipeline.py
  drevalpy/utils/validation.py
  tests/components/test_tuning.py
  tests/components/tuning/test_hpo.py
  tests/conftest.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
  tests/test_hpam_tune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: split types.py into one file per class
  drevalpy/data/structures/__init__.py
  drevalpy/data/structures/entity_scope.py
  drevalpy/data/structures/mudatalike.py
  drevalpy/data/structures/split_masks.py
  drevalpy/data/structures/types.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add SplitMasks.save() / .load() with numpy .npz format
  drevalpy/data/structures/split_masks.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add per-fold metadata to SplitMasks, persisted in .npz
  drevalpy/data/splitters/registry.py
  drevalpy/data/structures/split_masks.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: unified 2D pair arrays for SplitMasks + simplified stack
  drevalpy/data/splitters/lco.py
  drevalpy/data/splitters/ldo.py
  drevalpy/data/splitters/lpo.py
  drevalpy/data/splitters/lto.py
  drevalpy/data/splitters/validation.py
  drevalpy/data/structures/entity_scope.py
  drevalpy/data/structures/split_masks.py
  drevalpy/experiment/fold.py
  drevalpy/models/_component_stack.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test: add comprehensive tests for drevalpy.data splitting + registry
  drevalpy/components/tuning/hpo.py
  drevalpy/components/tuning/hpo_runtime.py
  drevalpy/data/datasets/load.py
  drevalpy/data/splitters/__init__.py
  drevalpy/data/splitters/registry.py
  drevalpy/data/splitters/validation.py
  drevalpy/experiment/__init__.py
  drevalpy/experiment/cross_study.py
  drevalpy/experiment/final_model.py
  drevalpy/experiment/hpo.py
  drevalpy/experiment/randomization.py
  drevalpy/experiment/robustness.py
  drevalpy/experiment/run.py
  drevalpy/experiment/splits.py
  drevalpy/experiment/training.py
  drevalpy/models/_component_stack.py
  drevalpy/models/drp_model.py
  pyproject.toml
  tests/components/predictors/neural_network/test_predictor.py
  tests/components/predictors/test_predictor_capability_contracts.py
  tests/components/test_extensions.py
  tests/data/test_loader.py
  tests/data/test_splitting.py
  tests/models/synthetic_fixtures.py
  tests/models/test_construct_model.py
  tests/models/test_drp_model.py
  tests/models/test_factory_compat_contract.py
  tests/models/test_literature_lifecycle.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

fix: migrate all callers to new 2D SplitMasks/EntityScope API
  drevalpy/components/tuning/hpo_runtime.py
  drevalpy/experiment/cross_study.py
  drevalpy/experiment/randomization.py
  drevalpy/experiment/robustness.py
  drevalpy/experiment/run.py
  drevalpy/experiment/splits.py
  drevalpy/experiment/training.py
  drevalpy/models/drp_model.py
  examples/custom_split_lco_fraction.py
  tests/components/predictors/neural_network/test_predictor.py
  tests/components/predictors/test_predictor_capability_contracts.py
  tests/components/test_extensions.py
  tests/components/test_tuning.py
  tests/components/test_wandb_hpo.py
  tests/components/tuning/test_hpo.py
  tests/experiment/test_hpo.py
  tests/models/synthetic_fixtures.py
  tests/models/test_construct_model.py
  tests/models/test_direct_component_harness.py
  tests/models/test_drp_model.py
  tests/models/test_factory_compat_contract.py
  tests/models/test_literature_lifecycle.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: make MuDataset explicitly inherit from MuDataLike protocol
  drevalpy/data/structures/mudataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
