Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

Add --clean_min_responders CLI flag to clean any dataset
  drevalpy/cli/pipeline.py
  drevalpy/datasets/loader.py
  drevalpy/utils.py
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add --clean_min_responder_frac flag and document dataset cleaning
  docs/usage.rst
  drevalpy/cli/pipeline.py
  drevalpy/datasets/loader.py
  drevalpy/utils.py
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Document CTRPv2 clean tiers in the Available Datasets table
  docs/usage.rst
Due: check-added-large-files

Drop confusing 'derived on first use' phrasing from clean-tier docs
  docs/usage.rst
Due: check-added-large-files

Fix pre-commit: black formatting and darglint docstrings
  drevalpy/datasets/loader.py
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: drop vendored resources, neutralize naming/docstrings, add relation fallback
  .pre-commit-config.yaml
  drevalpy/models/GCMF/gcmf.py
  tests/test_gcmf.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

GCMF: cast base-graph fallback to Tensor to satisfy mypy
  drevalpy/models/GCMF/gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: use epochs from hyperparameters instead of hardcoded max_epochs=1, removed dead code
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

added decorator which was missed during merging
  tests/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: make PaccMann gene_list a hyperparameter and use gene_list=None for the TOY test, so the model no longer requires the gene_list_paccmann_network_prop panel on toy data
  drevalpy/models/PaccMann/hyperparameters.yaml
  drevalpy/models/PaccMann/paccmann.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

documentation for PaccMann model was added
  docs/drevalpy.models.PaccMann.rst
  docs/drevalpy.models.rst
Due: check-added-large-files

GCMF: fail loud on missing relations instead of falling back
  drevalpy/models/GCMF/gcmf.py
  tests/test_gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fold dependency-light model gates into the tests nox session.
  .github/workflows/run_tests.yml
  noxfile.py
  tests/models/test_factory_compat_contract.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Fix pre-commit flake8/darglint failures blocking CI.
  drevalpy/components/predictors/literature/structured_engine_adapter.py
  drevalpy/components/tuning/_featurizer_walk.py
  drevalpy/data/gene_lists.py
  tests/components/predictors/naive/_helpers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Skip ray[tune] on Windows Python 3.13+ installs.
  README.md
  docs/installation.rst
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

Fix mypy errors that cancelled the CI test matrix.
  drevalpy/components/predictors/literature/structured_engine_adapter.py
  tests/cli/test_modern_model_paths.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Raise ImportError instead of sys.exit for missing SparseGO deps.
  drevalpy/datasets/featurizer/create_sparsego_features.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Document ImportError raises for SparseGO optional dependencies.
  drevalpy/datasets/featurizer/create_sparsego_features.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Use landmarkGenesReduced for PharmaFormer zoo preset.
  drevalpy/models/zoo/PharmaFormer.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Frame ModelConfig as the primary API, with MODEL_FACTORY as the pre-1.5.1 path.
  docs/API.rst
  docs/drevalpy.models.rst
  docs/model_architecture.rst
  docs/runyourmodel.rst
Due: check-added-large-files

Prefer plain wording for deprecated factory dictionaries.
  docs/API.rst
  docs/drevalpy.models.rst
  docs/runyourmodel.rst
  drevalpy/models/__init__.py
  drevalpy/models/model_config_spec.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Clarify that model inputs are architecture, not tunable views.
  docs/example_flexible_inputs.rst
  docs/hyperparameter_migration.rst
  docs/model_architecture.rst
Due: check-added-large-files

Restructure wandb docs into enablement and HPO sections.
  docs/example_wandb.rst
Due: check-added-large-files

Document wandb metrics and auth in the example docs.
  docs/example_wandb.rst
Due: check-added-large-files

Clarify dotted-key indices and recipe + syntax in HPO migration docs.
  docs/hyperparameter_migration.rst
Due: check-added-large-files

Unify HPO under hpam_tune and clarify Ray vs Optuna.
  README.md
  docs/cli/hyperparameter_tuning.rst
  docs/getting_started/installation.rst
  docs/python/api/components.rst
  docs/python/hyperparameter_tuning.rst
  drevalpy/components/tuning/__init__.py
  drevalpy/components/tuning/hpo.py
  drevalpy/experiment.py
  noxfile.py
  tests/components/test_hpo_migration.py
  tests/components/test_tuning.py
  tests/components/test_wandb_hpo.py
  tests/components/tuning/test_hpo.py
  tests/test_hpam_tune.py
  tests/test_hpam_tune_raytune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix short RST underline in HPO naming section.
  docs/python/hyperparameter_tuning.rst
Due: check-added-large-files

Clarify that Windows HPO needs Ray wheels for Python 3.10–3.12.
  README.md
  docs/getting_started/installation.rst
Due: check-added-large-files, end-of-file-fixer

Add components-to-models concept page and auto-generate the zoo catalog.
  .gitignore
  docs/_model_zoo.py
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
  docs/conf.py
  docs/index.rst
  docs/python/architecture.rst
  tests/docs/test_docs_structure.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Clarify ElasticNet predictor registry description.
  drevalpy/components/predictors/sklearn_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make naive predictors matrix-native with information-accurate zoo inputs.
  docs/cli/experiment.rst
  docs/cli/hyperparameter_tuning.rst
  docs/cli/pipeline_commands.rst
  docs/cli/quickstart.rst
  docs/cli/reporting.rst
  docs/concepts/model_zoo.rst
  docs/python/component_catalog.rst
  drevalpy/components/featurizers/_constant.py
  drevalpy/components/featurizers/cell_line/constant.py
  drevalpy/components/featurizers/cell_line/tissue.py
  drevalpy/components/featurizers/drug/constant.py
  drevalpy/components/predictors/_identity_batch.py
  drevalpy/components/predictors/naive/_matrix_means.py
  drevalpy/components/predictors/naive/_single_entity.py
  drevalpy/components/predictors/naive/effects.py
  drevalpy/components/predictors/naive/entity_mean.py
  drevalpy/components/predictors/naive/tissue.py
  drevalpy/components/register_builtins.py
  drevalpy/components/tuning/compatibility_keys.py
  drevalpy/models/zoo/NaiveCellLineMeanPredictor.yaml
  drevalpy/models/zoo/NaiveDrugMeanPredictor.yaml
  drevalpy/models/zoo/NaiveMeanEffectsPredictor.yaml
  drevalpy/models/zoo/NaivePredictor.yaml
  drevalpy/models/zoo/NaiveTissueMeanPredictor.yaml
  tests/components/featurizers/cell_line/test_constant.py
  tests/components/featurizers/cell_line/test_identity.py
  tests/components/featurizers/drug/test_drug_constant.py
  tests/components/predictors/naive/_helpers.py
  tests/components/predictors/naive/test_effects.py
  tests/components/predictors/naive/test_entity_mean.py
  tests/components/predictors/naive/test_mean.py
  tests/components/predictors/naive/test_tissue.py
  tests/components/tuning/test_compatibility_keys.py
  tests/models/test_featurizer_mapping.py
  tests/models/test_zoo.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Drop hedging 'often' from Python backward-compatibility notes.
  docs/python/persistence.rst
  docs/python/quickstart.rst
Due: check-added-large-files

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
