Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

cross study viz
  publication_figures/cross_study_visualization.ipynb
Due: end-of-file-fixer, trailing-whitespace

small fixes and documentation updates, v1.3.1
  create_report.py
  docs/conf.py
  docs/contributing.rst
  docs/usage.rst
  drevalpy/models/__init__.py
  drevalpy/utils.py
  drevalpy/visualization/critical_difference_plot.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new versions
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

deploy: 4fe8bd12b2359e138193ba9c43dd03d903ae34af
  .buildinfo
  API.html
  _key_contributors.html
  _sources/contributing.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: end-of-file-fixer, trailing-whitespace

cs viz
  publication_figures/cross_study_visualization.ipynb
Due: end-of-file-fixer, trailing-whitespace

evil
  assets/drevil.jpeg
  docs/news.rst
Due: end-of-file-fixer, trailing-whitespace

meme docu
  docs/_static/memes/iceberg.png
  docs/_static/memes/r2.png
  docs/index.rst
  docs/memes.rst
Due: none

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace

normalization within proteomicsRF now
  create_report.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/sklearn_models.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

restructured proteomics normalization
  .pre-commit-config.yaml
  drevalpy/datasets/dataset.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added parameter for proteomics, also added proteomicselasticnet and proteomicsrandomforest
  docs/usage.rst
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/singledrug_random_forest.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
  tests/individual_models/test_baselines.py
  tests/individual_models/test_single_drug_models.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed the key errors but there is an issue with CS
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/sklearn_models.py
  tests/individual_models/test_baselines.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

simpsons font sizes
  publication_figures/simpsons.ipynb
Due: end-of-file-fixer, trailing-whitespace

monn methylation pca rework
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

scalign all sklearn models gene expression with arcsinh+ standard
  drevalpy/models/baselines/sklearn_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

molir scaling fix
  drevalpy/models/MOLIR/molir.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

more scaling in MO and return value of scaler not necessary
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

helper for readibility
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

reworked the logic and mypy fixing, code simplifications
  drevalpy/experiment.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update drevalpy/models/utils.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

MOLIR variacne treshold fix
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/MOLIR/utils.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

superfeltr
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SuperFELTR/superfeltr.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix uniqueness of cl ids and from_csv (had old identifiers)
  drevalpy/datasets/dataset.py
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

baseline fix for non geneexpression models
  drevalpy/models/baselines/sklearn_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

further errors we ahve because we did not test properly! Saddest story since orpheus and eurydice
  drevalpy/datasets/dataset.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
  tests/individual_models/test_single_drug_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

BIG ERROR, BIG FIX, copy didnt copy meta info
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix random dataset loadning issues
  drevalpy/datasets/loader.py
  drevalpy/utils.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

default custompytest tests
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

one of the more crazy bugs, mutable default passed some wrong meta info over. what a time to be alive
  drevalpy/datasets/dataset.py
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/SRMF/srmf.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

curve curator default value error
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

map tissue fixz
  drevalpy/datasets/map_tissues.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

proteomics stuff
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/singledrug_random_forest.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

last proteomics model?
  drevalpy/models/baselines/singledrug_elastic_net.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

proteomics issues untrained model
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/utils.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

first commit final fittign procedure
  drevalpy/experiment.py
  drevalpy/utils.py
  tests/test_tissue_mapping.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

reduce largefiles
  publication_figures/main_results_dumbbellplots.ipynb
Due: end-of-file-fixer, trailing-whitespace

model.save
  drevalpy/experiment.py
  drevalpy/models/drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

load save snn
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

srmf save
  drevalpy/models/SRMF/srmf.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
