Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

test_1
  drevalpy/models/XGDP/_models.py
  drevalpy/models/XGDP/utils.py
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

still not working
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

update models
  drevalpy/models/XGDP/_models.py
  drevalpy/models/XGDP/hyperparameters.yaml
  drevalpy/models/XGDP/utils.py
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Use forked CurveCurator API for curve fitting
  docs/usage.rst
  drevalpy/cli_fit_curves.py
  drevalpy/cli_preprocess_custom.py
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/curvecurator_device.py
  drevalpy/datasets/curvecurator_runner.py
  drevalpy/datasets/loader.py
  drevalpy/utils.py
  poetry.lock
  pyproject.toml
  requirements.txt
  setup.cfg
  tests/datasets/test_curvecurator_device.py
  tests/datasets/test_curvecurator_runner.py
  tests/test_cli_fit_curves.py
  tests/test_main.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Use remote CurveCurator dependency
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

Extract CurveCurator workflow into drevalpy.curation with stepwise CLI.
  docs/usage.rst
  drevalpy/cli/_fit_curves_legacy.py
  drevalpy/cli/_helpers.py
  drevalpy/cli/curation.py
  drevalpy/cli/legacy.py
  drevalpy/cli/main.py
  drevalpy/cli_fit_curves.py
  drevalpy/cli_preprocess_custom.py
  drevalpy/curation/__init__.py
  drevalpy/curation/_curvecurator/__init__.py
  drevalpy/curation/_curvecurator/combine.py
  drevalpy/curation/_curvecurator/curvecurator.py
  drevalpy/curation/_curvecurator/device.py
  drevalpy/curation/_curvecurator/io.py
  drevalpy/curation/_curvecurator/split.py
  drevalpy/curation/_curvecurator/types.py
  drevalpy/curation/_curvecurator/workflow.py
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/curvecurator_device.py
  drevalpy/datasets/curvecurator_runner.py
  drevalpy/datasets/loader.py
  poetry.lock
  pyproject.toml
  setup.cfg
  tests/cli/test_cli_app.py
  tests/cli/test_curation.py
  tests/cli/test_fit_curves_legacy.py
  tests/curation/_curvecurator/test_curvecurator.py
  tests/curation/_curvecurator/test_io.py
  tests/curation/_curvecurator/test_split_combine.py
  tests/datasets/test_curvecurator_runner.py
  tests/test_cli_fit_curves.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Use CurveCurator DataFrame-first API in drevalpy
  drevalpy/cli/pipeline.py
  drevalpy/curation/_curvecurator/curvecurator.py
  drevalpy/datasets/curvecurator.py
  poetry.lock
  requirements.txt
  setup.cfg
  tests/cli/test_curation.py
  tests/curation/_curvecurator/test_curvecurator.py
  tests/curation/_curvecurator/test_device.py
  tests/curation/_curvecurator/test_split_combine.py
  tests/curation/_curvecurator/test_workflow.py
  tests/datasets/test_curvecurator_runner.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Ignore PyTorch Lightning log directory.
  .gitignore
Due: check-added-large-files, end-of-file-fixer

Remove legacy CurveCurator shims and consolidate nf-core hooks.
  docs/drevalpy.datasets.rst
  drevalpy/cli/viability_postprocess.py
  drevalpy/cli/viability_preprocess.py
  drevalpy/cli_preprocess_custom.py
  drevalpy/curation/_curvecurator/curvecurator.py
  drevalpy/curation/_curvecurator/nfcore.py
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/curvecurator_device.py
  drevalpy/datasets/curvecurator_runner.py
  setup.cfg
  tests/curation/_curvecurator/test_curvecurator.py
  tests/curation/_curvecurator/test_nfcore.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

CTRPv2: add clean/cleaner/cleanest drug-filtered dataset loaders
  drevalpy/datasets/loader.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

CTRPv2: warn on leave-drug-out evaluation with cleaned variants
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

deploy: df4789e77e94ac67d3c61e1112d8149f8f2088fc
  .buildinfo
  API.html
  _key_contributors.html
  _sources/installation.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.DrugGNN.html
  drevalpy.models.MOLIR.html
  drevalpy.models.PharmaFormer.html
  drevalpy.models.Precily.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  example_flexible_inputs.html
  example_wandb.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

Fix mypy errors in curation CLI test stubs.
  tests/cli/test_curation.py
  tests/cli/test_fit_curves_legacy.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix circular import blocking drevalpy curation CLI startup.
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Separate curation in-memory API from CLI disk I/O.
  drevalpy/cli/curation.py
  drevalpy/curation/__init__.py
  drevalpy/curation/_curvecurator/io.py
  drevalpy/curation/_curvecurator/nfcore.py
  drevalpy/curation/_curvecurator/split.py
  drevalpy/curation/_curvecurator/workflow.py
  drevalpy/datasets/curvecurator.py
  tests/cli/test_curation.py
  tests/cli/test_fit_curves_legacy.py
  tests/curation/_curvecurator/test_io.py
  tests/curation/_curvecurator/test_nfcore.py
  tests/curation/_curvecurator/test_split_combine.py
  tests/curation/_curvecurator/test_workflow.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix mypy issues in CurveCurator test helpers.
  tests/cli/test_curation.py
  tests/curation/_curvecurator/test_nfcore.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix curation CLI callback type for Typer 0.26 typeguard.
  drevalpy/cli/curation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Remove datasets.curvecurator facade and call curation directly.
  docs/drevalpy.datasets.rst
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/loader.py
  drevalpy/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Remove nf-core viability CLI shims from drevalpy.
  drevalpy/cli/_helpers.py
  drevalpy/cli/legacy.py
  drevalpy/cli/main.py
  drevalpy/cli/viability_postprocess.py
  drevalpy/cli/viability_preprocess.py
  drevalpy/curation/_curvecurator/combine.py
  drevalpy/curation/_curvecurator/io.py
  drevalpy/curation/_curvecurator/nfcore.py
  pyproject.toml
  tests/cli/test_cli_app.py
  tests/curation/_curvecurator/test_nfcore.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Refresh dependency files after rebase.
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

Remove dataset_name from curation API and CLI.
  docs/usage.rst
  drevalpy/cli/_fit_curves_legacy.py
  drevalpy/cli/curation.py
  drevalpy/cli/legacy.py
  drevalpy/curation/_curvecurator/combine.py
  drevalpy/curation/_curvecurator/io.py
  drevalpy/curation/_curvecurator/split.py
  drevalpy/curation/_curvecurator/types.py
  drevalpy/curation/_curvecurator/workflow.py
  drevalpy/datasets/loader.py
  pyproject.toml
  tests/cli/test_curation.py
  tests/cli/test_fit_curves_legacy.py
  tests/curation/_curvecurator/test_curvecurator.py
  tests/curation/_curvecurator/test_io.py
  tests/curation/_curvecurator/test_split_combine.py
  tests/curation/_curvecurator/test_workflow.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Simplify curation artifact names and fix pipeline GPU routing.
  docs/usage.rst
  drevalpy/cli/curation.py
  drevalpy/cli/pipeline.py
  drevalpy/curation/_curvecurator/combine.py
  drevalpy/curation/_curvecurator/io.py
  drevalpy/datasets/loader.py
  drevalpy/utils.py
  tests/cli/test_cli_app.py
  tests/cli/test_curation.py
  tests/curation/_curvecurator/test_io.py
  tests/curation/_curvecurator/test_split_combine.py
  tests/test_main.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Flatten curation package by removing _curvecurator subpackage.
  drevalpy/cli/curation.py
  drevalpy/curation/__init__.py
  drevalpy/curation/_curvecurator/__init__.py
  drevalpy/curation/combine.py
  drevalpy/curation/device.py
  drevalpy/curation/fit.py
  drevalpy/curation/io.py
  drevalpy/curation/split.py
  drevalpy/curation/types.py
  drevalpy/curation/workflow.py
  tests/cli/test_curation.py
  tests/curation/test_device.py
  tests/curation/test_fit.py
  tests/curation/test_io.py
  tests/curation/test_split_combine.py
  tests/curation/test_workflow.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Generalize CTRPv2 cleaning to any curve-curated dataset; dedup loader; tests
  drevalpy/datasets/loader.py
  drevalpy/experiment.py
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix single-drug ES contamination and curvecurator no-replicate crash
  drevalpy/cli_model_testing.py
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix consolidation path, cross-study mutation, NN checkpoint guard, XGB reg_lambda, CLI subcommand detection
  drevalpy/cli/_helpers.py
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
  drevalpy/models/baselines/multi_view_xgboost.py
  tests/cli/test_helpers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Low-severity fixes: NaN-response masking, dead branches, NN edge cases, KNN dead hparam
  drevalpy/datasets/dataset.py
  drevalpy/evaluation.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
  drevalpy/models/baselines/hyperparameters.yaml
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Fix gene-feature value/name misalignment in load_and_select_gene_features
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix flake8 failures in clean-dataset CI (pre-commit)
  setup.cfg
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

add SparseGO model
  drevalpy/datasets/featurizer/create_sparsego_features.py
  drevalpy/models/SparseGO/__init__.py
  drevalpy/models/SparseGO/hyperparameters.yaml
  drevalpy/models/SparseGO/sparsego.py
  drevalpy/models/SparseGO/utils.py
  drevalpy/models/__init__.py
  noxfile.py
  pyproject.toml
  tests/test_drp_model.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

update poetry.lock for sparsego dependencies
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

remove torch-sparse from sparsego extras (requires manual install)
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

local import torch_sparse to avoid breaking other tests
  drevalpy/models/SparseGO/sparsego.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix mypy errors in SparseGO
  drevalpy/models/SparseGO/sparsego.py
  drevalpy/models/SparseGO/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix mypy errors in SparseGO
  drevalpy/models/SparseGO/sparsego.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add GCMF model family (GCMF, PGCMF, RGCMF, PRGCMF)
  .pre-commit-config.yaml
  docs/drevalpy.models.GCMF.rst
  docs/drevalpy.models.rst
  docs/usage.rst
  drevalpy/models/GCMF/__init__.py
  drevalpy/models/GCMF/gcmf.py
  drevalpy/models/GCMF/hyperparameters.yaml
  drevalpy/models/__init__.py
  tests/test_drp_model.py
  tests/test_gcmf.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

remove type: ignore and global warning suppression in SparseGO
  drevalpy/models/SparseGO/sparsego.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix SparseGO gene ordering; remove LightGBM
  drevalpy/models/SparseGO/sparsego.py
  drevalpy/models/__init__.py
  drevalpy/models/baselines/multi_view_lightgbm.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/models/test_baselines.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
