Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

updated poetry to 2.0.1
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 9fd758b027d13e519272abbab7a8b03b4e1879bb
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

adds single drug elastic net
  drevalpy/.DS_Store
  drevalpy/experiment.py
  drevalpy/models/.DS_Store
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/singledrug_random_forest.py
  tests/individual_models/test_baselines.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

better late than never
  drevalpy/experiment.py
  drevalpy/models/baselines/singledrug_elastic_net.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixes mypy
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixes tzpeguard
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix tests
  drevalpy/models/utils.py
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor nn fixes
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Naive ANOVA
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/naive_pred.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

adds tests
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

weights only
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

prevent conflicts
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix test
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

change name to avoid confusion
  drevalpy/models/__init__.py
  drevalpy/models/baselines/naive_pred.py
  tests/individual_models/test_baselines.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

soem docu
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

spelling
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

nice docs
  docs/usage.rst
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

dataset path included
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix test
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pre-commit fix isort
  drevalpy/models/__init__.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

data fix
  drevalpy/datasets/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

dataset length test
  tests/test_available_data.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

proteomics removed from multiomics
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update pyproject.toml to 1.1.4
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update conf.py to 1.1.4
  docs/conf.py
Due: black, flake8, pyupgrade

deploy: 431d2523db22f077ebdad6466495d01ab4e84e5a
  .buildinfo
  API.html
  _key_contributors.html
  _sources/usage.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: end-of-file-fixer, trailing-whitespace

cell line and drug names now as FINAL
  drevalpy/datasets/__init__.py
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

ctrv12 loaders
  drevalpy/datasets/__init__.py
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

l
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

str
  drevalpy/datasets/utils.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed tests for data
  .gitignore
  drevalpy/datasets/loader.py
  tests/test_available_data.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

loader back to other dezipping
  drevalpy/datasets/dataset.py
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing tests
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing tests 2
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed unused imports
  drevalpy/datasets/dataset.py
  drevalpy/models/utils.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

removing nan responses
  tests/individual_models/conftest.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix double import
  drevalpy/datasets/dataset.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing rest
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

supressed multirow warnings wfer first row and max_epochs for SNN for faster tests
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
  drevalpy/models/utils.py
  tests/individual_models/test_simple_neural_network.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
