Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

Set default tissue column for dataset loading
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Black
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add integrity tests
  tests/test_cv_split_integrity.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Pre-commit
  tests/test_cv_split_integrity.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

some more mutability saveguards
  drevalpy/experiment.py
  drevalpy/models/baselines/naive_pred.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test
  tests/test_train_mutability.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

change to helvetica
  publication_figures/cross_study_visualization.ipynb
  publication_figures/simpsons.ipynb
Due: check-added-large-files, end-of-file-fixer

overlaying points for Fig. 6
  publication_figures/ablation_difference.R
Due: check-added-large-files, end-of-file-fixer

supplementary table numbering has changed
  publication_figures/README.md
Due: check-added-large-files, end-of-file-fixer

Install optuna
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

First implementation draft
  drevalpy/experiment.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix docstrings
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Pre-commit
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

MyPy
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make continuous hyperparameter spaces work
  drevalpy/experiment.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix continuous hyperparameter sampling
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add PCA featurizer
  drevalpy/datasets/featurizer/create_transcriptome_pca.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add PCA neural network
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/__init__.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Improve featurizer structure
  drevalpy/datasets/featurizer/__init__.py
  drevalpy/datasets/featurizer/cell_line/__init__.py
  drevalpy/datasets/featurizer/cell_line/base.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/create_chemberta_drug_embeddings.py
  drevalpy/datasets/featurizer/create_drug_graphs.py
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
  drevalpy/datasets/featurizer/create_transcriptome_pca.py
  drevalpy/datasets/featurizer/drug/__init__.py
  drevalpy/datasets/featurizer/drug/base.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix failing tests
  .gitignore
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix typing issues
  drevalpy/datasets/featurizer/cell_line/base.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix production dataset colname issue
  drevalpy/datasets/featurizer/cell_line/pca.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Implement featurizer mixins
  drevalpy/datasets/featurizer/__init__.py
  drevalpy/datasets/featurizer/cell_line/__init__.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/drug/__init__.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Remove redundant get_model_name functions
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SuperFELTR/superfeltr.py
  drevalpy/models/baselines/multi_omics_random_forest.py
  drevalpy/models/baselines/naive_pred.py
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/singledrug_random_forest.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

modified comments
  publication_figures/sup_tables_performance_results.R
Due: check-added-large-files, end-of-file-fixer

First pitch of the PPI graph GNN. Also fixing a bug in drug gnn
  drevalpy/cli.py
  drevalpy/datasets/featurizer/create_ppi_graphs.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/PPIGraphGNN/__init__.py
  drevalpy/models/PPIGraphGNN/hyperparameters.yaml
  drevalpy/models/PPIGraphGNN/ppi_graph_gnn.py
  drevalpy/models/__init__.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Fixing linting
  drevalpy/cli.py
  drevalpy/datasets/featurizer/create_ppi_graphs.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/PPIGraphGNN/README.md
  drevalpy/models/PPIGraphGNN/ppi_graph_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

moved the explainer
  drevalpy/models/PPIGraphGNN/ppi_graph_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

mypy fixes
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/featurizer/create_ppi_graphs.py
  drevalpy/evaluation.py
  drevalpy/models/DIPK/data_utils.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/PPIGraphGNN/ppi_graph_gnn.py
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/drp_model.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

add XGDP base
  drevalpy/models/XGDP/__init__.py
  drevalpy/models/XGDP/hyperparameters.yaml
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Add computation resources notebook
  publication_figures/computation_resources.ipynb
Due: check-added-large-files, end-of-file-fixer

Update XGDP
  drevalpy/models/XGDP/__init__.py
  drevalpy/models/XGDP/hyperparameters.yaml
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

started with class XGDP, added hyperparameters, models and utils
  drevalpy/models/XGDP/models.py
  drevalpy/models/XGDP/utils.py
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Cleanup
  drevalpy/models/XGDP/__init__.py
  drevalpy/models/XGDP/hyperparameters.yaml
  drevalpy/models/XGDP/models.py
  drevalpy/models/XGDP/utils.py
  drevalpy/models/XGDP/xgdp.py
  drevalpy/models/__init__.py
  tests/models/test_global_models.py
  tests/test_drp_model.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

test1
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

worked on predict and train, modified build_model
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Implementierung PaccMann
  drevalpy/models/PaccMann/__init__.py
  drevalpy/models/PaccMann/hyperparameters.yaml
  drevalpy/models/PaccMann/paccmann.py
  drevalpy/models/PaccMann/paccmann_v2.py
  drevalpy/models/PaccMann/utils/__init__.py
  drevalpy/models/PaccMann/utils/hyperparams.py
  drevalpy/models/PaccMann/utils/interpret.py
  drevalpy/models/PaccMann/utils/layers.py
  drevalpy/models/PaccMann/utils/loss_functions.py
  drevalpy/models/PaccMann/utils/utils.py
  drevalpy/models/__init__.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Implementierung PaccMann
  drevalpy/models/PaccMann/utils/interpret.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refine train and predict, add classes
  drevalpy/models/XGDP/xgdp.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Pytoda hinzugefügt zu PaccMann
  drevalpy/models/PaccMann/pytoda/__init__.py
  drevalpy/models/PaccMann/pytoda/smiles/__init__.py
  drevalpy/models/PaccMann/pytoda/smiles/smiles_language.py
  drevalpy/models/PaccMann/pytoda/smiles/transforms/__init__.py
  drevalpy/models/PaccMann/pytoda/smiles/transforms/augment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
