Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

Document MODEL_FACTORY vs construct_model in the Python quickstart.
  docs/python/quickstart.rst
Due: check-added-large-files

Prefer generic hyperparameter-tuning wording in overview docs.
  docs/cli/experiment.rst
  docs/cli/wandb.rst
  docs/python/custom_models.rst
  docs/python/experiments.rst
Due: check-added-large-files

refactor: organize cli and utility modules
  drevalpy/cli/__init__.py
  drevalpy/cli/collect_results.py
  drevalpy/cli/consolidate_single_drug.py
  drevalpy/cli/evaluate_hpams.py
  drevalpy/cli/evaluate_test.py
  drevalpy/cli/load_response.py
  drevalpy/cli/make_cv_pkls.py
  drevalpy/cli/make_final_split_pkls.py
  drevalpy/cli/make_hpam_yamls.py
  drevalpy/cli/make_randomization_yamls.py
  drevalpy/cli/model_testing.py
  drevalpy/cli/preprocess_custom.py
  drevalpy/cli/run_cv.py
  drevalpy/cli/test_cv.py
  drevalpy/cli/train_cv.py
  drevalpy/cli/train_final_model_cmd.py
  drevalpy/cli/tune_final_model.py
  drevalpy/cli/viability_postprocess.py
  drevalpy/cli/viability_preprocess.py
  drevalpy/utils/__init__.py
  drevalpy/utils/pipeline.py
  drevalpy/utils/response_transform.py
  drevalpy/utils/validation.py
  drevalpy/visualization/create_report.py
  setup.cfg
  tests/cli/test_run_cv.py
  tests/components/test_public_hyperparameter_compat.py
  tests/components/tuning/test_hpo.py
  tests/datasets/splits/test_providers.py
  tests/utils/test_validation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: use qualified featurizer hyperparameter keys
  README.md
  docs/cli/quickstart.rst
  docs/concepts/evaluation.rst
  docs/concepts/from_components_to_models.rst
  docs/getting_started/installation.rst
  docs/index.rst
  docs/python/architecture.rst
  docs/python/hyperparameter_tuning.rst
  docs/python/quickstart.rst
  drevalpy/components/featurizer_label.py
  drevalpy/components/featurizer_tree.py
  drevalpy/components/featurizers/_concat.py
  drevalpy/components/tuning/search_space.py
  drevalpy/models/config.py
  tests/components/featurizers/test_concat.py
  tests/components/test_featurizer_label.py
  tests/components/test_featurizer_tree.py
  tests/components/test_public_hyperparameter_compat.py
  tests/components/test_tuning.py
  tests/components/tuning/test_search_space.py
  tests/models/test_construct_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs: improve getting started and concepts flow
  docs/concepts/component_catalog.rst
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
  docs/conf.py
  docs/getting_started/installation.rst
  docs/getting_started/run_first_experiment.rst
  docs/index.rst
  docs/python/api/components.rst
  docs/python/architecture.rst
  docs/python/models.rst
  tests/docs/test_docs_structure.py
Due: black, check-added-large-files, flake8, pyupgrade

docs: generate Python API reference with recursive autosummary
  .github/pull_request_template.md
  .gitignore
  docs/_templates/autosummary/module.rst
  docs/conf.py
  docs/python/api/components.rst
  docs/python/api/data.rst
  docs/python/api/datasets.rst
  docs/python/api/experiment.rst
  docs/python/api/index.rst
  docs/python/api/models.rst
  docs/python/api/types.rst
  docs/python/api/visualization.rst
  drevalpy/components/predictors/literature/pharmaformer/pharmaformer_training.py
  drevalpy/components/predictors/literature/superfeltr/training.py
  drevalpy/data/__init__.py
  drevalpy/datasets/__init__.py
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/dataset.py
  drevalpy/datasets/splits/providers.py
  drevalpy/datasets/splits/validation.py
  drevalpy/evaluation.py
  drevalpy/experiment/__init__.py
  drevalpy/experiment/fold.py
  drevalpy/models/__init__.py
  drevalpy/models/drp_model.py
  drevalpy/types/__init__.py
  drevalpy/utils/__init__.py
  drevalpy/utils/_pipeline_function.py
  drevalpy/utils/response_transform.py
  drevalpy/visualization/__init__.py
  drevalpy/visualization/utils.py
  tests/utils/test_pipeline_function.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: rename drevalpy.data package to drevalpy.features
  docs/conf.py
  docs/python/api/index.rst
  docs/python/model_inputs.rst
  drevalpy/components/data_loading.py
  drevalpy/components/featurizers/cell_line/dipk_gene_expression.py
  drevalpy/components/featurizers/cell_line/landmark.py
  drevalpy/components/featurizers/cell_line/molir_omics.py
  drevalpy/components/featurizers/cell_line/normalized_proteomics.py
  drevalpy/components/featurizers/cell_line/pathways.py
  drevalpy/components/featurizers/cell_line/pharmaformer_gene_expression.py
  drevalpy/components/featurizers/cell_line/scaled_gene_expression.py
  drevalpy/components/featurizers/cell_line/sparsego_ontology.py
  drevalpy/components/featurizers/cell_line/superfeltr_omics.py
  drevalpy/components/featurizers/drug/smilesvec.py
  drevalpy/features/__init__.py
  drevalpy/features/features.py
  drevalpy/features/gene_lists.py
  drevalpy/features/preprocessing.py
  tests/components/featurizers/cell_line/test_landmark.py
  tests/components/test_boundary.py
  tests/features/test_features.py
  tests/features/test_gene_lists.py
  tests/features/test_preprocessing.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs: list Python guide before CLI in the sidebar
  docs/index.rst
Due: check-added-large-files

docs: mention nf-core alongside CLI and Python quickstarts
  docs/getting_started/run_first_experiment.rst
Due: check-added-large-files

docs: clarify featurizer types and output forms in catalog
  docs/concepts/component_catalog.rst
  docs/getting_started/run_first_experiment.rst
Due: check-added-large-files

docs: expand predictor interfaces and use molir as block example
  docs/concepts/component_catalog.rst
Due: check-added-large-files

docs: distinguish featurizers from predictor encoders in catalog
  docs/concepts/component_catalog.rst
Due: check-added-large-files

docs: streamline component catalog and fix extension links
  docs/concepts/component_catalog.rst
Due: check-added-large-files

docs: remove backward compatibility section from component catalog
  docs/concepts/component_catalog.rst
Due: check-added-large-files

docs: restructure model composition and zoo concept pages
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
Due: check-added-large-files

Add slot-typed featurizer configs and synced composition tabs.
  docs/concepts/from_components_to_models.rst
  docs/conf.py
  docs/python/architecture.rst
  docs/requirements.txt
  drevalpy/models/config.py
  drevalpy/models/featurizer_mapping.py
  drevalpy/models/model_config_spec.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/components/test_public_api.py
  tests/docs/test_docs_structure.py
  tests/models/test_config.py
  tests/models/test_config_validation.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

docs: split multi-example composition tabs into separate blocks
  docs/concepts/from_components_to_models.rst
Due: check-added-large-files

docs: document YAML/ModelConfig hyperparameter spaces
  docs/concepts/from_components_to_models.rst
Due: check-added-large-files

Rename structured featurizer HPO keys to ModelConfig slot names.
  docs/concepts/from_components_to_models.rst
  docs/python/architecture.rst
  docs/python/hyperparameter_tuning.rst
  drevalpy/components/tuning/compatibility_keys.py
  drevalpy/components/tuning/config_resolution.py
  drevalpy/components/tuning/search_space.py
  tests/components/test_public_hyperparameter_compat.py
  tests/components/test_tuning.py
  tests/components/tuning/test_search_space.py
  tests/models/test_construct_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs: trim legacy flat-key note from composition page
  docs/concepts/from_components_to_models.rst
Due: check-added-large-files

Stop sphinx-autobuild loop from regenerated RST includes.
  docs/_cli_click.py
  docs/_component_catalog.py
  docs/_generated_io.py
  docs/_model_zoo.py
  docs/conf.py
  noxfile.py
  tests/docs/test_generated_io.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs: clarify zoo YAML as full ModelConfig presets
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
Due: check-added-large-files

Unify single-drug models on implicit identity and per-drug routing.
  docs/_model_zoo.py
  docs/concepts/from_components_to_models.rst
  docs/python/architecture.rst
  drevalpy/components/model_id.py
  drevalpy/components/model_input_batch.py
  drevalpy/components/predictors/literature/molir/predictor.py
  drevalpy/components/predictors/literature/single_drug_block.py
  drevalpy/components/predictors/literature/superfeltr/predictor.py
  drevalpy/components/predictors/single_drug.py
  drevalpy/components/predictors/single_drug_routing.py
  drevalpy/models/config.py
  drevalpy/models/model_config_spec.py
  drevalpy/models/zoo/MOLIR.yaml
  drevalpy/models/zoo/SingleDrugElasticNet.yaml
  drevalpy/models/zoo/SingleDrugRandomForest.yaml
  drevalpy/models/zoo/SuperFELTR.yaml
  tests/components/predictors/literature/test_literature_predictor_policy.py
  tests/components/predictors/literature/test_single_drug_block.py
  tests/components/predictors/test_single_drug_routing.py
  tests/components/test_model_id.py
  tests/components/test_model_input_batch.py
  tests/components/test_module_mirror_policy.py
  tests/docs/test_docs_structure.py
  tests/models/test_config.py
  tests/models/test_direct_component_harness.py
  tests/models/test_model_config_spec.py
  tests/models/test_zoo.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

docs: drop redundant single-drug prose from generated zoo.
  docs/_model_zoo.py
Due: black, check-added-large-files, flake8, pyupgrade

Remove drevalpy.features and colocate loaders with datasets and components.
  docs/conf.py
  docs/python/api/index.rst
  docs/python/model_inputs.rst
  drevalpy/components/data_loading/__init__.py
  drevalpy/components/data_loading/model_config.py
  drevalpy/components/data_loading/multiomics.py
  drevalpy/components/data_loading/views.py
  drevalpy/components/featurizers/cell_line/dipk_gene_expression.py
  drevalpy/components/featurizers/cell_line/landmark.py
  drevalpy/components/featurizers/cell_line/molir_omics.py
  drevalpy/components/featurizers/cell_line/normalized_proteomics.py
  drevalpy/components/featurizers/cell_line/pathways.py
  drevalpy/components/featurizers/cell_line/pharmaformer_gene_expression.py
  drevalpy/components/featurizers/cell_line/scaled_gene_expression.py
  drevalpy/components/featurizers/cell_line/sparsego_ontology.py
  drevalpy/components/featurizers/cell_line/superfeltr_omics.py
  drevalpy/components/featurizers/drug/smilesvec.py
  drevalpy/components/preprocessing.py
  drevalpy/datasets/feature_tables.py
  drevalpy/datasets/gene_lists.py
  drevalpy/features/__init__.py
  drevalpy/features/features.py
  tests/components/data_loading/test_model_config.py
  tests/components/data_loading/test_multiomics.py
  tests/components/featurizers/cell_line/test_landmark.py
  tests/components/test_boundary.py
  tests/components/test_preprocessing.py
  tests/datasets/test_feature_tables.py
  tests/datasets/test_gene_lists.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add Mermaid diagrams for model resolution and component composition.
  docs/concepts/component_catalog.rst
  docs/conf.py
  docs/python/models.rst
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Fix nox test imports and weave Mermaid into the models docs story.
  docs/python/models.rst
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

Install sphinxcontrib-mermaid for docs CI builds.
  docs/requirements.txt
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix mypy errors blocking the modularity CI gate.
  docs/_cli_click.py
  drevalpy/components/tuning/search_space.py
  tests/components/predictors/literature/molir/test_utils.py
  tests/components/predictors/literature/test_single_drug_block.py
  tests/components/registry/test_metadata.py
  tests/components/test_public_hyperparameter_compat.py
  tests/components/tuning/test_compatibility_keys.py
  tests/models/test_config.py
  tests/models/test_config_validation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Update tests for the data_loading package layout.
  tests/components/data_loading/test_views.py
  tests/components/test_module_mirror_policy.py
  tests/models/test_featurizer_mapping.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix typeguard annotation mismatches on Windows CI.
  drevalpy/components/feature_block.py
  drevalpy/components/predictors/literature/_feature_dataset_from_batch.py
  drevalpy/components/predictors/literature/molir/utils.py
  drevalpy/components/predictors/neural_network/network.py
  drevalpy/visualization/leaderboard_plot.py
  tests/components/predictors/literature/test_single_drug_block.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Avoid Sequence unpacking that breaks mypy in Lightning steps.
  drevalpy/components/predictors/neural_network/network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Seed uncorrelated evaluation fixtures for stable Windows CI.
  tests/test_evaluation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Ship SparseGO TOY ontology fixtures for offline CI.
  tests/conftest.py
  tests/fixtures/sparsego/TOYv1/gene2ind.txt
  tests/fixtures/sparsego/TOYv1/sparseGO_ont.txt
  tests/fixtures/sparsego/TOYv2/gene2ind.txt
  tests/fixtures/sparsego/TOYv2/sparseGO_ont.txt
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add load_model for one-step checkpoint reconstruction.
  docs/python/models.rst
  docs/python/persistence.rst
  drevalpy/models/README.md
  drevalpy/models/__init__.py
  drevalpy/models/_model_persistence.py
  tests/models/test_model_persistence.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
