Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        exclude: ^dreval_demo\.ipynb$
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901,N803,N806,S615
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace

move feature_source into drevalpy/types/data/
  drevalpy/components/featurizers/_constant.py
  drevalpy/components/featurizers/_matrix.py
  drevalpy/components/featurizers/base.py
  drevalpy/components/featurizers/cell_line/_sparsego_metadata.py
  drevalpy/components/featurizers/cell_line/bionic.py
  drevalpy/components/featurizers/cell_line/dense_view.py
  drevalpy/components/featurizers/cell_line/dipk_gene_expression.py
  drevalpy/components/featurizers/cell_line/identity.py
  drevalpy/components/featurizers/cell_line/landmark.py
  drevalpy/components/featurizers/cell_line/molir_omics.py
  drevalpy/components/featurizers/cell_line/normalized_proteomics.py
  drevalpy/components/featurizers/cell_line/pathways.py
  drevalpy/components/featurizers/cell_line/pca.py
  drevalpy/components/featurizers/cell_line/pharmaformer_gene_expression.py
  drevalpy/components/featurizers/cell_line/raw.py
  drevalpy/components/featurizers/cell_line/scaled_gene_expression.py
  drevalpy/components/featurizers/cell_line/sparsego_ontology.py
  drevalpy/components/featurizers/cell_line/superfeltr_omics.py
  drevalpy/components/featurizers/cell_line/tissue.py
  drevalpy/components/featurizers/drug/_smiles_utils.py
  drevalpy/components/featurizers/drug/bpe_pharmaformer.py
  drevalpy/components/featurizers/drug/chemberta.py
  drevalpy/components/featurizers/drug/drug_graph.py
  drevalpy/components/featurizers/drug/fingerprints.py
  drevalpy/components/featurizers/drug/identity.py
  drevalpy/components/featurizers/drug/molgnet.py
  drevalpy/components/featurizers/drug/smilesvec.py
  drevalpy/components/featurizers/drug/view.py
  drevalpy/components/predictors/literature/dipk/data_utils.py
  drevalpy/models/component_stack.py
  drevalpy/types/data/dataset.py
  drevalpy/types/data/feature_source.py
  tests/components/featurizers/test_nan_tolerance.py
  tests/components/featurizers/test_precompute_smoke.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

remove dead code: factory dicts, unused modules, and stale exports
  README.rst
  drevalpy/components/predictors/literature/dipk/data_utils.py
  drevalpy/components/predictors/literature/superfeltr/training.py
  drevalpy/data/__init__.py
  drevalpy/models/__init__.py
  drevalpy/models/_model_lookup.py
  drevalpy/models/construct.py
  drevalpy/models/mixins/_logging.py
  drevalpy/types/__init__.py
  drevalpy/types/enums/__init__.py
  drevalpy/types/enums/view_location.py
  pyproject.toml
  tests/models/test_architecture_policy.py
  tests/models/test_factory_compat_contract.py
  tests/models/test_import_compat.py
  tests/models/test_model_lookup.py
  tests/models/test_single_drug.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

remove scripts/featurizer, inline MolGNet network into package
  drevalpy/components/featurizers/drug/_molgnet_network.py
  drevalpy/components/featurizers/drug/molgnet.py
  scripts/featurizer/create_chemberta_drug_embeddings.py
  scripts/featurizer/create_drug_graphs.py
  scripts/featurizer/create_molgnet_pipeline.py
  scripts/featurizer/create_pharmaformer_drug_embeddings.py
  scripts/featurizer/create_precily_drug_embeddings.py
  scripts/featurizer/create_precily_pathway_features.py
  scripts/featurizer/create_sparsego_features.py
  scripts/featurizer/sparsego_graph.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

remove scripts/ directory and associated tests
  pyproject.toml
  scripts/cellosaurus_parse.py
  scripts/download.py
  scripts/map_tissues.py
  tests/data/test_cellosaurus_parse.py
  tests/test_tissue_mapping.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

refactor: consolidate FeatureSource into a single ABC and clean up types exports
  drevalpy/components/featurizers/cell_line/_sparsego_metadata.py
  drevalpy/types/__init__.py
  drevalpy/types/data/__init__.py
  drevalpy/types/data/batch/__init__.py
  drevalpy/types/data/batch/model_input_batch.py
  drevalpy/types/data/batch/model_input_build.py
  drevalpy/types/data/batch/pair_features.py
  drevalpy/types/data/feature_source.py
  tests/components/featurizers/test_nan_tolerance.py
  tests/components/test_pair_features.py
  tests/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: parallel single-run aggregation and typed visualization pipeline
  drevalpy/cli/aggregate.py
  drevalpy/cli/main.py
  drevalpy/cli/report.py
  drevalpy/cli/single.py
  drevalpy/data/__init__.py
  drevalpy/run.py
  drevalpy/single.py
  drevalpy/types/results/experiment.py
  drevalpy/types/results/run.py
  drevalpy/visualization/__init__.py
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/create_visualizations.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/outplot.py
  drevalpy/visualization/plot_requirements.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/vioheat.py
  drevalpy/visualization/violin.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: remove visualization shims, consolidate all plots in _legacy/
  drevalpy/visualization/_legacy/create_report.py
  drevalpy/visualization/_legacy/test_mode_plots.py
  drevalpy/visualization/critical_difference_layout.py
  drevalpy/visualization/leaderboard_plot.py
  drevalpy/visualization/normalize_metrics.py
  drevalpy/visualization/prep_results_format.py
  drevalpy/visualization/utils.py
  tests/visualization/test_critical_difference_layout.py
  tests/visualization/test_leaderboard_plot.py
  tests/visualization/test_normalize_metrics.py
  tests/visualization/test_prep_results_format.py
  tests/visualization/test_test_mode_plots.py
  tests/visualization/test_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

refactor: dual-output visualization ABC with self-contained plot implementations
  drevalpy/visualization/__init__.py
  drevalpy/visualization/base.py
  drevalpy/visualization/plots/__init__.py
  drevalpy/visualization/plots/_utils.py
  drevalpy/visualization/plots/comparison_scatter.py
  drevalpy/visualization/plots/critical_difference.py
  drevalpy/visualization/plots/cross_study_table.py
  drevalpy/visualization/plots/heatmap.py
  drevalpy/visualization/plots/leaderboard.py
  drevalpy/visualization/plots/regression_scatter.py
  drevalpy/visualization/plots/violin.py
  drevalpy/visualization/report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: reference model normalization with fold_id matching
  drevalpy/cli/report.py
  drevalpy/data/__init__.py
  drevalpy/single.py
  drevalpy/types/results/experiment.py
  drevalpy/types/results/run.py
  drevalpy/visualization/report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: accept optional dataset in visualization compute() for metadata enrichment
  drevalpy/cli/report.py
  drevalpy/visualization/base.py
  drevalpy/visualization/plots/comparison_scatter.py
  drevalpy/visualization/plots/critical_difference.py
  drevalpy/visualization/plots/cross_study_table.py
  drevalpy/visualization/plots/heatmap.py
  drevalpy/visualization/plots/leaderboard.py
  drevalpy/visualization/plots/regression_scatter.py
  drevalpy/visualization/plots/violin.py
  drevalpy/visualization/report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

chore: remove visualization/_legacy/ and associated legacy CLI/tests
  drevalpy/cli_old/collect_results.py
  drevalpy/cli_old/make_pipeline_report.py
  drevalpy/cli_old/report.py
  drevalpy/visualization/__init__.py
  drevalpy/visualization/_legacy/__init__.py
  drevalpy/visualization/_legacy/comp_scatter.py
  drevalpy/visualization/_legacy/create_leaderboard.py
  drevalpy/visualization/_legacy/create_report.py
  drevalpy/visualization/_legacy/create_visualizations.py
  drevalpy/visualization/_legacy/critical_difference_layout.py
  drevalpy/visualization/_legacy/critical_difference_plot.py
  drevalpy/visualization/_legacy/cross_study_tables.py
  drevalpy/visualization/_legacy/heatmap.py
  drevalpy/visualization/_legacy/heatmap_subplots.py
  drevalpy/visualization/_legacy/leaderboard_plot.py
  drevalpy/visualization/_legacy/normalize_metrics.py
  drevalpy/visualization/_legacy/outplot.py
  drevalpy/visualization/_legacy/prep_results_format.py
  drevalpy/visualization/_legacy/regression_slider_plot.py
  drevalpy/visualization/_legacy/result_csv_discovery.py
  drevalpy/visualization/_legacy/style_utils/LCO.png
  drevalpy/visualization/_legacy/style_utils/LDO.png
  drevalpy/visualization/_legacy/style_utils/LPO.png
  drevalpy/visualization/_legacy/style_utils/LTO.png
  drevalpy/visualization/_legacy/style_utils/favicon.png
  drevalpy/visualization/_legacy/style_utils/index_layout.html
  drevalpy/visualization/_legacy/style_utils/nf-core-drugresponseeval_logo_light.png
  drevalpy/visualization/_legacy/style_utils/page_layout.html
  drevalpy/visualization/_legacy/test_mode_plots.py
  drevalpy/visualization/_legacy/utils.py
  drevalpy/visualization/_legacy/vioheat.py
  drevalpy/visualization/_legacy/violin.py
  tests/visualization/test_critical_difference_layout.py
  tests/visualization/test_leaderboard_plot.py
  tests/visualization/test_normalize_metrics.py
  tests/visualization/test_prep_results_format.py
  tests/visualization/test_result_csv_discovery.py
  tests/visualization/test_test_mode_plots.py
  tests/visualization/test_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

chore: update .readthedocs.yml to use native uv support
  .readthedocs.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

chore: add uv.lock for reproducible builds
  .pre-commit-config.yaml
  uv.lock
Due: check-added-large-files, check-yaml, end-of-file-fixer

docs: restore split-mode images to docs/_static/img/
  .gitignore
  docs/_static/img/LCO.png
  docs/_static/img/LDO.png
  docs/_static/img/LPO.png
  docs/_static/img/LTO.png
  docs/concepts/evaluation.rst
Due: check-added-large-files, end-of-file-fixer

docs: remove migration notes and deprecated references
  docs/cli/pipeline_commands.rst
  docs/concepts/component_catalog.rst
  docs/concepts/model_zoo.rst
  docs/conf.py
  docs/python/custom_models.rst
  docs/python/models.rst
  docs/python/quickstart.rst
  drevalpy/models/README.md
  drevalpy/models/_model_lookup.py
  drevalpy/visualization/plots/critical_difference.py
  pyproject.toml
  uv.lock
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

docs: explain MuData on-disk dataset format in concepts/datasets
  docs/concepts/datasets.rst
Due: check-added-large-files

docs: add Registries concepts page and improve component catalog
  docs/_component_catalog.py
  docs/concepts/component_catalog.rst
  docs/concepts/registries.rst
  docs/index.rst
  drevalpy/registry/components/_metadata.py
  tests/docs/test_docs_structure.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

remove legacy cli_old/, curvecurator module, and associated test
  drevalpy/cli_old/__init__.py
  drevalpy/cli_old/preprocess_custom.py
  drevalpy/cli_old/viability_postprocess.py
  drevalpy/cli_old/viability_preprocess.py
  drevalpy/data/curvecurator.py
  tests/data/test_curvecurator_preprocess.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add invariant randomization mode
  drevalpy/cli/experiments/randomization.py
  drevalpy/cli/run.py
  drevalpy/experiment/randomization.py
  drevalpy/run.py
  drevalpy/types/data/dataset_utils/__init__.py
  drevalpy/types/data/dataset_utils/randomization.py
  tests/test_randomization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs: unify Python and CLI guide structure with current API
  docs/cli/custom_splits.rst
  docs/cli/datasets.rst
  docs/cli/experiment.rst
  docs/cli/experiments.rst
  docs/cli/extensions.rst
  docs/cli/hyperparameter_tuning.rst
  docs/cli/models.rst
  docs/cli/pipeline_commands.rst
  docs/cli/quickstart.rst
  docs/cli/reporting.rst
  docs/cli/visualization.rst
  docs/cli/wandb.rst
  docs/concepts/component_catalog.rst
  docs/concepts/datasets.rst
  docs/concepts/evaluation.rst
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
  docs/concepts/registries.rst
  docs/getting_started/installation.rst
  docs/index.rst
  docs/python/api/index.rst
  docs/python/datasets.rst
  docs/python/experiments.rst
  docs/python/extensions.rst
  docs/python/models.rst
  docs/python/quickstart.rst
  docs/python/visualization.rst
  docs/readme.rst
Due: check-added-large-files

Fix dockerfile
  Dockerfile
Due: check-added-large-files, end-of-file-fixer

Fix permmission issue
  Dockerfile
Due: check-added-large-files, end-of-file-fixer

Add dependency cooldown of 3 weeks via exclude-newer
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

Downgrade rdkit and transformers minimum versions for exclude-newer compatibility
  pyproject.toml
  uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer

Fix serializaiton issue
  drevalpy/types/results/run.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Improve Dockerfile structure
  Dockerfile
Due: check-added-large-files, end-of-file-fixer

Disable Trial normalization
  drevalpy/types/results/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add CPU/CUDA torch backend selection via extras
  Dockerfile
  pyproject.toml
  uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer

Fix MultiQC content validation error for plot-only sections
  drevalpy/visualization/report.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Use link copy mode in dockerfile
  Dockerfile
Due: check-added-large-files, end-of-file-fixer

feat: add curation submodule for dose-response curve fitting
  drevalpy/cli/curate.py
  drevalpy/cli/main.py
  drevalpy/curation/__init__.py
  drevalpy/curation/_anndata.py
  drevalpy/curation/_fit.py
  drevalpy/curation/_postprocess.py
  drevalpy/curation/_preprocess.py
  pyproject.toml
  tests/test_curation.py
  uv.lock
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

fix(registry): stop silently swallowing built-in component import errors
  docs/_component_catalog.py
  drevalpy/cli/curate.py
  drevalpy/curation/_fit.py
  drevalpy/curation/_preprocess.py
  drevalpy/registry/_builtins.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix(deps): pin nvidia-nccl-cu12 to an NCCL build compatible with torch cu13
  pyproject.toml
  uv.lock
Due: check-added-large-files, check-toml, end-of-file-fixer

Narrow Random Forest hyperparameter search space
  drevalpy/components/predictors/sklearn_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Ship gene lists as package data and read them from there
  drevalpy/components/featurizers/cell_line/gene_lists.py
  drevalpy/components/featurizers/cell_line/gene_lists/__init__.py
  drevalpy/components/featurizers/cell_line/gene_lists/copy_number_variation_gistic_intersection.csv
  drevalpy/components/featurizers/cell_line/gene_lists/drug_target_genes_all_drugs.csv
  drevalpy/components/featurizers/cell_line/gene_lists/drug_target_genes_all_drugs_proteomics.csv
  drevalpy/components/featurizers/cell_line/gene_lists/drug_target_genes_reduced.csv
  drevalpy/components/featurizers/cell_line/gene_lists/gene_expression_intersection.csv
  drevalpy/components/featurizers/cell_line/gene_lists/gene_list_paccmann_network_prop.csv
  drevalpy/components/featurizers/cell_line/gene_lists/gene_list_paccmann_network_prop_proteomics.csv
  drevalpy/components/featurizers/cell_line/gene_lists/gene_list_paccmann_network_prop_reduced.csv
  drevalpy/components/featurizers/cell_line/gene_lists/landmark_genes.csv
  drevalpy/components/featurizers/cell_line/gene_lists/landmark_genes_proteomics.csv
  drevalpy/components/featurizers/cell_line/gene_lists/landmark_genes_reduced.csv
  drevalpy/components/featurizers/cell_line/gene_lists/make_gene_lists.ipynb
  drevalpy/components/featurizers/cell_line/gene_lists/methylation_intersection.csv
  drevalpy/components/featurizers/cell_line/gene_lists/mutations_intersection.csv
  drevalpy/components/featurizers/cell_line/gene_lists/proteomics_intersection.csv
  pyproject.toml
  tests/components/featurizers/cell_line/test_gene_lists.py
  tests/components/featurizers/cell_line/test_landmark.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Fetch ChemBERTa weights from the artifacts bucket instead of the HF Hub
  docs/getting_started/installation.rst
  drevalpy/components/featurizers/drug/chemberta.py
  drevalpy/data/_transfer.py
  drevalpy/data/artifacts.py
  drevalpy/data/datasets/available_datasets.json
  drevalpy/data/datasets/load.py
  tests/data/test_artifacts.py
  tests/data/test_loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade
