Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

fixed test_dataset
  .github/workflows/run_tests.yml
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed some more tests
  drevalpy/datasets/dataset.py
  drevalpy/experiment.py
  drevalpy/models/SRMF/srmf.py
  tests/individual_models/test_baselines.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

None fix tissues
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bool masks force
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

more tests for reduce to edge cases
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

paths
  drevalpy/datasets/map_tissues.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

refractoring big time
  drevalpy/datasets/map_tissues.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

tissue mappign test fix
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed all tests
  drevalpy/experiment.py
  tests/individual_models/test_baselines.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

NaiveTissueMeanPredictor first commit
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/naive_pred.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

tissue naive loading
  drevalpy/models/baselines/naive_pred.py
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

loading
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy error
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing train
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

load_tissue fix
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add test load tissue
  tests/CTRPv2_sample_test/CTRPv2_sample_test_raw.csv
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

yet another mypy error
  drevalpy/models/baselines/naive_pred.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

test temp issue
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

ooops deleted by accident
  tests/CTRPv2_sample_test/CTRPv2_sample_test_raw.csv
Due: end-of-file-fixer, trailing-whitespace

fixed tests
  drevalpy/datasets/dataset.py
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed lto tests
  drevalpy/experiment.py
  tests/individual_models/test_global_models.py
  tests/individual_models/test_single_drug_models.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

need ubuntu for coverage
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

fixes #170
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix low group number issues
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy happiness
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

more tissues
  drevalpy/datasets/map_tissues.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated documentation
  .github/workflows/publish_docs.yml
  docs/_static/img/drevalpy.pdf
  docs/_static/img/drevalpy.png
  docs/_static/img/drevalpy.svg
  docs/conf.py
  docs/installation.rst
  docs/usage.rst
  pyproject.toml
  setup.py
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated documentation, table was broken
  docs/usage.rst
Due: none

updated documentation, forgot s
  docs/usage.rst
Due: none

new updates
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

stash stuff
  publication_figures/simpsons.ipynb
  publication_figures/variance_decomposition.ipynb
Due: end-of-file-fixer, trailing-whitespace

added overview pic
  README.rst
  docs/_static/img/overview.png
Due: end-of-file-fixer, trailing-whitespace

adapted challenge
  docs/news.rst
Due: none

moved stuff around
  README.md
  README.rst
  assets/dreval.png
  docs/index.rst
  docs/news.rst
Due: end-of-file-fixer, trailing-whitespace

v1.3.0 and documentation fix
  docs/conf.py
  docs/usage.rst
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

lto visualization support
  docs/_static/img/overview.png
  docs/usage.rst
  drevalpy/visualization/style_utils/LCO.png
  drevalpy/visualization/style_utils/LDO.png
  drevalpy/visualization/style_utils/LPO.png
  drevalpy/visualization/style_utils/LTO.png
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

LTO support, minor fixes
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
