Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

forfot to add pydantic to the project dependencies
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

small fixes from copilot
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

documentation fix
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

updated plots with the 2 new datasets
  publication_figures/data_distributions.R
  publication_figures/tables_and_sup_figs.R
Due: check-added-large-files, end-of-file-fixer

cellosaurus_id is optional column
  drevalpy/models/DIPK/data_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

forgot to cast gex cell line ids to str in loader of bionic features
  drevalpy/models/DIPK/data_utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

cleaning up pub_fig: reproduced all main figures, added readme
  publication_figures/README.md
  publication_figures/ablation_difference.R
  publication_figures/cd_diagrams.ipynb
  publication_figures/cross_study_visualization.ipynb
  publication_figures/main_results_dumbbellplots.ipynb
  publication_figures/simpsons.ipynb
  publication_figures/tables_and_sup_figs.R
Due: check-added-large-files, end-of-file-fixer

adding supplement figures
  publication_figures/make_umap_embedding.py
  publication_figures/make_umap_embedding_plot_highlight.py
  publication_figures/simpsons_paradox_simple.ipynb
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

supplementary tables
  publication_figures/README.md
  publication_figures/curvecurator_comparison.R
  publication_figures/distribution_plots.R
  publication_figures/sup_tables_performance_results.R
  publication_figures/tables_and_sup_figs.R
Due: check-added-large-files, end-of-file-fixer

all plots are there
  publication_figures/README.md
  publication_figures/make_umap_embedding.py
  publication_figures/make_umap_embedding_plot_highlight.py
  publication_figures/simpsons_paradox_simple.ipynb
  publication_figures/sup_tables_performance_results.R
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

overlap table
  publication_figures/README.md
  publication_figures/omic_overlaps.R
Due: check-added-large-files, end-of-file-fixer

statistical details tables
  publication_figures/README.md
  publication_figures/cd_diagrams.ipynb
Due: check-added-large-files, end-of-file-fixer

bump up to 1.4.0, new package versions
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

updated demo to include approximate runtimes and drevalpy version
  dreval_colab_demo.ipynb
Due: check-added-large-files, end-of-file-fixer

testing featurizers because testing is important for code quality and code quality is important for science
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

updated demo to include all commands
  .gitignore
  README.md
Due: check-added-large-files, end-of-file-fixer

opt dep
  drevalpy/datasets/featurizer/create_chemberta_drug_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

opt dep2
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

opt dep3
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

skipping tests because rdkit needs to be installed
  drevalpy/datasets/featurizer/create_drug_graphs.py
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

deploy: 61158174c7a71796d1655adbb297ef604f0d8002
  .buildinfo
  API.html
  _images/isthisdrugresponse.jpeg
  _images/overview.png
  _key_contributors.html
  _sources/drevalpy.models.DrugGNN.rst.txt
  _sources/drevalpy.models.SimpleNeuralNetwork.rst.txt
  _sources/installation.rst.txt
  _sources/memes.rst.txt
  _sources/runyourmodel.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  _static/img/overview.png
  _static/memes/isthisdrugresponse.jpeg
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.DrugGNN.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

included manual docker build information in pull request template
  .github/pull_request_template.md
Due: check-added-large-files, end-of-file-fixer

prettier breaks
  publication_figures/distribution_plots.R
Due: check-added-large-files, end-of-file-fixer

first commit irm
  drevalpy/models/IRM/invariant_risk_minimization.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

added to init
  drevalpy/models/__init__.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

exclude \added
  publication_figures/cd_diagrams.ipynb
Due: check-added-large-files, end-of-file-fixer

addresses #322 : making CLI commands for the nfcore pipeline
  .pre-commit-config.yaml
  docs/conf.py
  drevalpy/cli.py
  drevalpy/cli_model_testing.py
  drevalpy/cli_preprocess_custom.py
  drevalpy/cli_run_cv.py
  drevalpy/visualization/create_report.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

updating versions
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

properly loading pickle
  drevalpy/cli_run_cv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

properly loading pickle II
  drevalpy/cli_run_cv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

random
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

opening everything safely now.
  drevalpy/cli_model_testing.py
  drevalpy/cli_run_cv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

trying to fix tests by adding a header
  drevalpy/datasets/utils.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

automated tests no longer dependent on Zenodo
  drevalpy/datasets/loader.py
  drevalpy/datasets/map_tissues.py
  drevalpy/datasets/utils.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/baselines/multi_omics_random_forest.py
  tests/models/conftest.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fixing mypy, removing unused test
  drevalpy/datasets/utils.py
  drevalpy/experiment.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fixing really dumb error: forgot new loading for TOYv2
  drevalpy/datasets/loader.py
  tests/conftest.py
  tests/models/conftest.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

maybe with resolved paths?
  tests/conftest.py
  tests/test_drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

forgot to make sure that data exists
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add NaiveTissueDrugMeanPredictor
  .gitignore
  docs/usage.rst
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/naive_pred.py
  tests/models/test_baselines.py
  tests/test_drp_model.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Add contributor
  docs/_key_contributors.rst
Due: check-added-large-files

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
