Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        exclude: ^dreval_demo\.ipynb$
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901,N803,N806,S615
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace

docs: document the drug_mean response transformation
  docs/API.rst
  docs/usage.rst
  drevalpy/response_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

docs(DIPK): correct the memory figures in the autoencoder comment
  drevalpy/models/DIPK/gene_expression_encoder.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: let models opt out of the feature cache when their loaders build state
  docs/runyourmodel.rst
  drevalpy/experiment.py
  drevalpy/models/SparseGO/sparsego.py
  drevalpy/models/drp_model.py
  tests/test_feature_cache.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test(DIPK): return a real encoder from the patched autoencoder training
  tests/test_dipk_autoencoder_parameters.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat(DIPK): make the gene list a hyperparameter
  drevalpy/models/DIPK/dipk.py
  tests/test_dipk_gene_list.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: train the final model of a single drug model on its own drug only
  drevalpy/experiment.py
  tests/test_final_model_single_drug.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat: add drug_tissue_mean response transformation
  docs/usage.rst
  drevalpy/cli/pipeline.py
  drevalpy/datasets/dataset.py
  drevalpy/response_transformation.py
  drevalpy/utils.py
  tests/test_response_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: narrow the optional predictions before comparing them in the test
  tests/test_response_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix the CLI for single drug models to train the final model
  drevalpy/cli_model_testing.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix where early stopping dataset is reduced in CLI, save response transformation, update versions
  Dockerfile
  docs/installation.rst
  drevalpy/cli_model_testing.py
  drevalpy/experiment.py
  poetry.lock
  requirements.txt
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

feat(DIPK): forward the autoencoder parameters from the hyperparameters
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/hyperparameters.yaml
  tests/test_dipk_autoencoder_parameters.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Exempt the normalization baseline from the response transformation
  drevalpy/cli/pipeline.py
  drevalpy/experiment.py
  tests/test_normalization_baseline_transformation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

perf: cache loaded feature matrices between splits and models
  drevalpy/experiment.py
  tests/test_feature_cache.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: dedupe cell line ids in PharmaFormer predict() before rescaling
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/models/PharmaFormer/pharmaformer.py
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test: replace vacuous mutation test with a forward-hook check
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

polish: match np.unique idiom, seed test model, tighten invariance test
  drevalpy/models/PharmaFormer/pharmaformer.py
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: dedupe cell line ids before fitting the gene expression scaler
  drevalpy/models/PharmaFormer/pharmaformer.py
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: narrow Optional types in PharmaFormer tests for mypy
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

update versions
  Dockerfile
  docs/_key_contributors.rst
  docs/installation.rst
  docs/news.rst
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

Update news.rst to simplify reward message
  docs/news.rst
Due: check-added-large-files

test: drop dedicated PharmaFormer tests, covered by global model tests
  tests/models/test_pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

deploy: dd04a11314001676c0856852e5ab487240114d7f
  _images/leaderboard_light.png
  _static/img/leaderboard_dark.png
  _static/img/leaderboard_light.png
  example_flexible_inputs.html
  installation.html
  runyourmodel.html
Due: check-added-large-files, end-of-file-fixer

fix: fit DIPK autoencoder and MultiViewRandomForest PCA on unique cell lines
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/baselines/multi_view_random_forest.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Update hyperparameters.yaml
  drevalpy/models/XGDP/hyperparameters.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

fix: match original DIPK gene expression preprocessing (log2 TPM, per-cell z-score, BIONIC gene selection)
  drevalpy/models/DIPK/data_utils.py
  drevalpy/models/DIPK/dipk.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: XGDP port bugs in cell feature size, response scaling, hyperparameters and edge types
  drevalpy/models/XGDP/_models.py
  drevalpy/models/XGDP/xgdp.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Revert "Merge pull request #479 from daisybio/fix/dedupe-cell-lines-before-fitting"
  drevalpy/models/DIPK/data_utils.py
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/baselines/multi_view_random_forest.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Revert "Merge pull request #476 from daisybio/fix/pharmaformer-predict-scaling"
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/models/PharmaFormer/pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: dedupe cell line ids in PharmaFormer before fitting and applying the gene expression scaler
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/models/PharmaFormer/pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fix: fit DIPK autoencoder and MultiViewRandomForest PCA on unique cell lines, match original DIPK expression preprocessing
  drevalpy/models/DIPK/data_utils.py
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/baselines/multi_view_random_forest.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

deploy: cbea43863c8541686be4523bb50b260497d85085
  _images/leaderboard_light.png
  _static/img/leaderboard_dark.png
  _static/img/leaderboard_light.png
Due: check-added-large-files, end-of-file-fixer

making the gene lists a parameter for all baselines, switching to gene expression only for all single omics baselines
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/multi_view_lightgbm.py
  drevalpy/models/baselines/multi_view_random_forest.py
  drevalpy/models/baselines/multi_view_xgboost.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

make gene lists variable for multiview models
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/multi_view_random_forest.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

make gene lists variable for DrugGNN, DIPK, EnsembleMF, MOLIR, PharmaFormer, SimpleNeuralNetwork, and SuperFELTR
  drevalpy/models/DIPK/hyperparameters.yaml
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/DrugGNN/hyperparameters.yaml
  drevalpy/models/EnsembleMF/hyperparameters.yaml
  drevalpy/models/MOLIR/hyperparameters.yaml
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/PharmaFormer/hyperparameters.yaml
  drevalpy/models/PharmaFormer/pharmaformer.py
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/multi_view_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SuperFELTR/hyperparameters.yaml
  drevalpy/models/SuperFELTR/superfeltr.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

adjusted leaderboard + hpams
  drevalpy/models/PharmaFormer/hyperparameters.yaml
  drevalpy/models/Precily/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

new leaderboard code, also added critical difference diagram.
  README.md
  README.rst
  docs/_static/img/critical_difference_algorithms_LCO.svg
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  docs/usage.rst
  drevalpy/models/SparseGO/hyperparameters.yaml
  drevalpy/visualization/create_leaderboard.py
  drevalpy/visualization/critical_difference_plot.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

added information on the splits
  docs/quickstart.rst
Due: check-added-large-files

fix tests
  tests/models/test_baselines.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
  tests/test_main.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Documenting benchmarking your own model better
  docs/benchmark_overview.rst
  docs/example_tinynn.rst
  docs/index.rst
  docs/leaderboard.rst
  docs/precomputed_splits.rst
  docs/quickstart.rst
  docs/runyourmodel.rst
Due: check-added-large-files
