Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

revert yaml
  .pre-commit-config.yaml
  drevalpy/experiment.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

poetry
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

strategy fix
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new temporary dir logic
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pre-commit fixes
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

change to non None default for easier handling in nf pipeline
  drevalpy/experiment.py
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix loader bug which was uncaught
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

device needs to be one
  drevalpy/experiment.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed tempdir and MOLIR
  drevalpy/experiment.py
  drevalpy/models/MOLIR/utils.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing model checkpointing. also improved loading and saving efficieny
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/SuperFELTR/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

support grouping by min/max dose and nreplicates
  drevalpy/datasets/curvecurator.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix control_df concatenation with curve_df
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

allow for non-batched execution
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bugfix: number of cores overwritten in for loop
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

bugfix: testcode still in code
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed IC50 calculation
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix negation
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

use nunique to avoid 0 1 ambiguity for nreplicates
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updating poetry version
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

poetry export force install?
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

poetry export force install also for coverage
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

poetry export force install
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Update pyproject.toml
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

Update conf.py
  docs/conf.py
Due: black, flake8, pyupgrade

deploy: 4024961ea99401ca5e8ee548bc39e71a1420d247
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

Update Dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

new dockerfile with updated python and poetry version
  Dockerfile
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: db5fdf201bac9b5a026c826eea5a7196c2ec56e7
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

asserting in input, causes silent bugs otherwise
  drevalpy/models/drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

forgot to put curvecurator in docker image - quick fix
  .github/workflows/publish-docker.yml
  Dockerfile
Due: check-yaml, end-of-file-fixer, trailing-whitespace

removing fix: push to main docker build
  .github/workflows/publish-docker.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

new version including CurveCurator in the Dockerimage
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated poetry deps and requirements
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

updated poetry deps and requirements
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

deploy: d941da5f60555513519dbf146edbbbbcc3bb4499
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

new Dockerfile - actually just including curvecurator now by default.
  Dockerfile
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
