Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        exclude: ^dreval_demo\.ipynb$
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901,N803,N806,S615
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace

Update strongest architecture docs
  docs/usage.rst
Due: check-added-large-files

Change the way tissues are accessed
  drevalpy/models/baselines/naive_pred.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

* minor changes to the cli functions * deleted CTRPv2 sample test raw data -> now on nf-core test data * downloading test data now from nf-core repo * updated dependencies
  drevalpy/cli_model_testing.py
  drevalpy/cli_preprocess_custom.py
  drevalpy/datasets/curvecurator.py
  drevalpy/datasets/loader.py
  poetry.lock
  requirements.txt
  tests/CTRPv2_sample_test/CTRPv2_sample_test_raw.csv
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

test_dataset function also needs the sample dataset
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

mypy fix
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Update usage docs on strongest baseline
  docs/usage.rst
Due: check-added-large-files

Implement first PharmaFormer draft
  drevalpy/datasets/featurizer/create_bpe_smiles_embeddings.py
  drevalpy/models/PharmaFormer/__init__.py
  drevalpy/models/PharmaFormer/hyperparameters.yaml
  drevalpy/models/PharmaFormer/model_utils.py
  drevalpy/models/PharmaFormer/pharmaformer.py
  drevalpy/models/__init__.py
  poetry.lock
  pyproject.toml
  tests/models/test_global_models.py
  tests/test_featurizers.py
Due: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

Remove gene list from pharmaFormer loader
  drevalpy/models/PharmaFormer/pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add citation
  drevalpy/models/PharmaFormer/pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix BPE tests
  drevalpy/datasets/featurizer/create_bpe_smiles_embeddings.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Use consistent gene set
  drevalpy/models/PharmaFormer/pharmaformer.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix mypy
  drevalpy/datasets/featurizer/create_bpe_smiles_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make sure BPE embeddings are created before tests
  tests/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Next attempt of adding BP encoding before tests
  tests/conftest.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

fixing #310
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

leaderboard
  docs/_static/img/DrugResponseEvalLogo.svg
  docs/_static/img/leaderboard.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

added leaderboard to readme
  README.md
  README.rst
Due: check-added-large-files, end-of-file-fixer

leaderbaord
  README.md
Due: check-added-large-files, end-of-file-fixer

font size
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

font size and removed std
  docs/_static/img/leaderboard.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

black bg
  docs/_static/img/leaderboard.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

true black bg and cache busting
  README.md
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

matching githubs darkmode :)
  README.md
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

matching githubs darkmode :)
  docs/_static/img/leaderboard.png
Due: check-added-large-files

cache busting again
  README.md
Due: check-added-large-files, end-of-file-fixer

curvecurator test
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

updates
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

1000 points are too many, actually
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

documentation added
  docs/usage.rst
Due: check-added-large-files

fixing float errors
  tests/test_dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

I always forget mypy
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

explanatory comment was still wrong
  drevalpy/datasets/curvecurator.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

lightmode friendlier
  README.md
  docs/_static/img/leaderboard.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

forgot to add images
  docs/_static/img/leaderboard.png
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
Due: check-added-large-files

line fix
  README.md
Due: check-added-large-files, end-of-file-fixer

simplify colors
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

rm alpha :D
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Update drevalpy/visualization/create_leaderboard.py
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

update plots again
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
Due: check-added-large-files
