Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

why is this test failing
  tests/individual_models/conftest.py
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated tests
  drevalpy/models/baselines/multi_omics_random_forest.py
  tests/individual_models/conftest.py
  tests/individual_models/test_baselines.py
  tests/individual_models/test_literature_models.py
  tests/individual_models/test_simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

multiomics fixed
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix dipk be selecting intercept genes for autoencoder
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

comment added mainly to rerun tests
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

toy data does not have all genes. Either we add all genes or this hardcoding has to stay. cross study pred from and to the Toy wont work with DIPK
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Toy_Data is hereby renamed to TOYv1, consistent with the other datasets names. Also adds TOYv2. Its purpose ought to be testing cross study prediction or similiar endeavours
  .gitignore
  docs/quickstart.rst
  docs/usage.rst
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  drevalpy/models/SuperFELTR/hyperparameters.yaml
  drevalpy/utils.py
  tests/individual_models/conftest.py
  tests/individual_models/test_literature_models.py
  tests/test_available_data.py
  tests/test_run_suite.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix order of genes when selecting
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

test order
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new updates
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

Update usage.rst
  docs/usage.rst
Due: none

Update .gitignore
  .gitignore
Due: end-of-file-fixer, trailing-whitespace

Update docs/quickstart.rst
  docs/quickstart.rst
Due: none

Update drevalpy/datasets/loader.py
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update tests/test_available_data.py
  tests/test_available_data.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

replace ctrpv1 with toyv2, toy with toyv1
  tests/individual_models/conftest.py
  tests/individual_models/test_baselines.py
  tests/individual_models/test_literature_models.py
  tests/individual_models/test_simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update drevalpy/models/MOLIR/molir.py
  drevalpy/models/MOLIR/molir.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy fixes in the tests and molir, sperfeltr and random fignerprint fix lets go
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SuperFELTR/superfeltr.py
  drevalpy/models/utils.py
  tests/individual_models/test_baselines.py
  tests/individual_models/test_literature_models.py
  tests/individual_models/test_simple_neural_network.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new tests for new toy datasets
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix selection bug. its an array not a df
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

everything works except for dipk
  drevalpy/models/MOLIR/molir.py
  tests/individual_models/test_literature_models.py
  tests/individual_models/test_simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix dipk cs
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/DIPK/gene_expression_encoder.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy
  drevalpy/models/DIPK/dipk.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new version
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix tests
  drevalpy/models/baselines/hyperparameters.yaml
  tests/test_drp_model.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

renaming
  drevalpy/models/DIPK/dipk.py
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/drp_model.py
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

we have a methylation intersection gene list now. using it instead of doing the fuzzy check and imputation
  drevalpy/models/baselines/multi_omics_random_forest.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

we have a methylation intersection gene list now part 2: Multi omics NN
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix path on windows
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix tests and recover hpam MuOmRF
  drevalpy/models/baselines/hyperparameters.yaml
  tests/individual_models/test_baselines.py
  tests/individual_models/test_literature_models.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

seeding the test. the set operation was the main culprit :D
  tests/individual_models/conftest.py
  tests/individual_models/test_literature_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

final test fix. mutliomicsrf
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

remove methylation artifact
  drevalpy/models/baselines/multi_omics_random_forest.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

this should take care of the pipeline bug
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 5d4876a3979e3c2ffd82fe49e4dd46b97754cc9b
  .buildinfo
  API.html
  _key_contributors.html
  _sources/quickstart.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
