Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

Fixing various issues
  README.md
  README.rst
  docs/API.rst
  docs/conf.py
  docs/contributing.rst
  docs/drevalpy.datasets.rst
  docs/drevalpy.models.SimpleNeuralNetwork.rst
  docs/drevalpy.models.SparseGO.rst
  docs/drevalpy.models.baselines.rst
  docs/drevalpy.models.rst
  docs/drevalpy.visualization.rst
  docs/example_flexible_inputs.rst
  docs/example_tinynn.rst
  docs/installation.rst
  docs/memes.rst
  docs/runyourmodel.rst
  docs/usage.rst
  drevalpy/datasets/dataset.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Fixing various issues pt 2
  README.md
  docs/drevalpy.datasets.rst
  docs/drevalpy.models.baselines.rst
  docs/example_flexible_inputs.rst
  docs/example_tinynn.rst
  docs/installation.rst
  docs/leaderboard.rst
  docs/usage.rst
  drevalpy/datasets/loader.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

something is wrong with the lock
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

rolling back to poetry 2.4.3
  Dockerfile
  docs/installation.rst
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-added-large-files, check-toml, end-of-file-fixer

bump to 1.6.0
  docs/conf.py
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

updated key contributors
  docs/_key_contributors.rst
Due: check-added-large-files

include the cleaning flags for load response
  drevalpy/cli/load_response.py
  drevalpy/cli_run_cv.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

making sure no test uses zenodo
  tests/test_dataset_cleaning.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
