Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

Improve Python guide docs storyline and page headers.
  docs/concepts/datasets.rst
  docs/concepts/evaluation.rst
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
  docs/index.rst
  docs/python/api/index.rst
  docs/python/architecture.rst
  docs/python/custom_models.rst
  docs/python/datasets.rst
  docs/python/experiments.rst
  docs/python/hyperparameter_tuning.rst
  docs/python/model_inputs.rst
  docs/python/models.rst
  docs/python/persistence.rst
  docs/python/quickstart.rst
  docs/python/visualization.rst
Due: check-added-large-files

Replace AVAILABLE_DATASETS with a JSON built-in dataset registry.
  docs/python/datasets.rst
  dreval_colab_demo.ipynb
  drevalpy/cli/run_cv.py
  drevalpy/datasets/__init__.py
  drevalpy/datasets/available_datasets.json
  drevalpy/datasets/loader.py
  drevalpy/datasets/map_tissues.py
  drevalpy/utils/validation.py
  tests/conftest.py
  tests/datasets/test_loader.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Document model creation paths in a tabbed Python guide.
  docs/python/models.rst
Due: check-added-large-files

Resolve colliding hyperparameter keys without broadcast.
  docs/concepts/from_components_to_models.rst
  docs/python/hyperparameter_tuning.rst
  drevalpy/components/tuning/hyperparameter_keys.py
  drevalpy/components/tuning/public_flat.py
  drevalpy/components/tuning/search_space.py
  drevalpy/models/flat_hyperparameters.py
  drevalpy/models/model_config_spec.py
  drevalpy/models/zoo/__init__.py
  tests/components/test_public_hyperparameter_compat.py
  tests/components/tuning/test_hyperparameter_keys.py
  tests/models/test_baselines.py
  tests/models/test_flat_hyperparameters.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Persist fitted models as zip archive files only.
  drevalpy/cli/model_testing.py
  drevalpy/experiment/final_model.py
  drevalpy/models/_model_persistence.py
  drevalpy/models/drp_model.py
  tests/components/predictors/test_predictor_capability_contracts.py
  tests/models/test_baselines.py
  tests/models/test_direct_component_harness.py
  tests/models/test_drp_model.py
  tests/models/test_facade_parity.py
  tests/models/test_factory_compat_contract.py
  tests/models/test_global_models.py
  tests/models/test_import_compat.py
  tests/models/test_literature_lifecycle.py
  tests/models/test_model_config_native.py
  tests/models/test_model_persistence.py
  tests/models/test_single_drug_models.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fold model persistence into the models guide.
  docs/conf.py
  docs/index.rst
  docs/python/api/index.rst
  docs/python/architecture.rst
  docs/python/custom_models.rst
  docs/python/experiments.rst
  docs/python/models.rst
  docs/python/persistence.rst
  docs/python/quickstart.rst
  dreval_colab_demo.ipynb
  drevalpy/models/README.md
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Consolidate the Python guide into fewer task-focused pages.
  docs/concepts/from_components_to_models.rst
  docs/concepts/model_zoo.rst
  docs/conf.py
  docs/index.rst
  docs/python/api/index.rst
  docs/python/architecture.rst
  docs/python/custom_models.rst
  docs/python/datasets.rst
  docs/python/experiments.rst
  docs/python/hyperparameter_tuning.rst
  docs/python/model_inputs.rst
  docs/python/models.rst
  docs/python/quickstart.rst
Due: black, check-added-large-files, flake8, pyupgrade

Restructure the custom components guide for gradual extension.
  docs/python/custom_models.rst
Due: check-added-large-files

Clarify custom-component import, provenance, and discovery.
  docs/python/custom_models.rst
Due: check-added-large-files

Document FeatureFormat contracts in custom predictor examples.
  docs/python/custom_models.rst
Due: check-added-large-files

Show ZIP checkpoint paths when loading custom models.
  docs/python/custom_models.rst
  docs/python/models.rst
Due: check-added-large-files

Move predictor implementation details into the custom components guide.
  docs/concepts/from_components_to_models.rst
  docs/python/custom_models.rst
  docs/python/models.rst
Due: check-added-large-files

Narrow flake8 ignores by refactoring remaining production and test debt.
  drevalpy/components/preprocessing.py
  drevalpy/components/tuning/hpo_runtime.py
  drevalpy/datasets/__init__.py
  drevalpy/datasets/loader.py
  drevalpy/utils/pickle_io.py
  drevalpy/utils/pipeline.py
  setup.cfg
  tests/_trusted_subprocess.py
  tests/cli/test_cli_app.py
  tests/cli/test_legacy.py
  tests/cli/test_modern_model_paths.py
  tests/cli/test_run_cv.py
  tests/cli/test_test_cv.py
  tests/components/predictors/literature/sparsego/test_sparsego_utils.py
  tests/components/predictors/naive/_helpers.py
  tests/components/registry/test_metadata.py
  tests/components/test_extensions.py
  tests/components/tuning/test_hpo_runtime.py
  tests/conftest.py
  tests/datasets/splits/test_providers.py
  tests/datasets/test_loader.py
  tests/docs/test_docs_structure.py
  tests/experiment/test_run.py
  tests/models/test_baselines.py
  tests/models/test_direct_component_harness.py
  tests/models/test_drp_model.py
  tests/models/test_global_models.py
  tests/models/test_single_drug_models.py
  tests/test_dataset.py
  tests/test_drp_model.py
  tests/utils/test_torch_io.py
  tests/visualization/test_critical_difference_layout.py
  tests/visualization/test_leaderboard_plot.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: test against the real drug relations from the meta bundle
  tests/test_gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Remove avoidable inline suppressions by fixing I/O, typing, and coverage.
  docs/conf.py
  drevalpy/components/featurizers/cell_line/sparsego_ontology.py
  drevalpy/components/featurizers/drug/drug_graph.py
  drevalpy/components/predictors/literature/_training_helpers.py
  drevalpy/datasets/dataset.py
  drevalpy/datasets/featurizer/create_molgnet_pipeline.py
  drevalpy/models/_drp_logging.py
  noxfile.py
  pyproject.toml
  setup.cfg
  tests/cli/test_cli_app.py
  tests/components/predictors/literature/test__training_helpers.py
  tests/components/test_contracts.py
  tests/components/test_feature_block.py
  tests/datasets/splits/test_manifest.py
  tests/datasets/test_loader.py
  tests/docs/test_generated_io.py
  tests/models/test__drp_logging.py
  tests/models/test_drp_model.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

GCMF: exercise the real cell relations too, and guard their gene lists
  tests/test_gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Refocus the Python experiments guide on running experiments and configuring HPO.
  docs/python/experiments.rst
Due: check-added-large-files

Fix Sphinx title underline length in experiments guide.
  docs/python/experiments.rst
Due: check-added-large-files

Coerce YAML scope strings to ModelScope for typeguard.
  drevalpy/models/config.py
  tests/models/test_config.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Save final production models as zip stems, not directories.
  drevalpy/cli/model_testing.py
  drevalpy/experiment/__init__.py
  drevalpy/experiment/final_model.py
  drevalpy/experiment/model_paths.py
  drevalpy/experiment/run.py
  tests/experiment/test_model_paths.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Stub ray in HPO runtime test for Windows Python 3.13 CI.
  tests/components/tuning/test_hpo_runtime.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix mypy attr-defined on stubbed ray.tune in HPO test.
  tests/components/tuning/test_hpo_runtime.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: join drug relations on pubchem_id instead of matching drug names
  drevalpy/models/GCMF/gcmf.py
  tests/test_gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Consolidate literature predictors on a deprecated FeatureDatasetBlockPredictor.
  docs/concepts/component_catalog.rst
  docs/python/custom_models.rst
  drevalpy/components/predictors/feature_dataset_block.py
  drevalpy/components/predictors/literature/_algorithm_lifecycle.py
  drevalpy/components/predictors/literature/_block_inputs.py
  drevalpy/components/predictors/literature/dipk/predictor.py
  drevalpy/components/predictors/literature/druggnn/predictor.py
  drevalpy/components/predictors/literature/molir/predictor.py
  drevalpy/components/predictors/literature/pharmaformer/predictor.py
  drevalpy/components/predictors/literature/precily/predictor.py
  drevalpy/components/predictors/literature/single_drug_block.py
  drevalpy/components/predictors/literature/sparsego/predictor.py
  drevalpy/components/predictors/literature/srmf/predictor.py
  drevalpy/components/predictors/literature/superfeltr/predictor.py
  drevalpy/components/predictors/single_drug_block.py
  poetry.lock
  pyproject.toml
  tests/components/predictors/literature/test_literature_predictor_policy.py
  tests/components/predictors/test_feature_dataset_adapter_policy.py
  tests/components/predictors/test_feature_dataset_block.py
  tests/components/predictors/test_single_drug_block.py
  tests/components/test_module_mirror_policy.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Require explicit feature contracts on featurizers and predictors.
  docs/python/custom_models.rst
  drevalpy/components/contracts.py
  drevalpy/components/featurizers/base.py
  drevalpy/components/predictors/base.py
  drevalpy/components/predictors/lightgbm_pred.py
  drevalpy/components/predictors/naive/mean.py
  drevalpy/components/predictors/sklearn_models.py
  drevalpy/components/predictors/xgboost_pred.py
  drevalpy/components/registry/_metadata_validate.py
  tests/components/predictors/test_base.py
  tests/components/predictors/test_feature_dataset_block.py
  tests/components/predictors/test_single_drug_block.py
  tests/components/registry/test_core.py
  tests/components/registry/test_metadata.py
  tests/components/test_contracts.py
  tests/components/test_extensions.py
  tests/models/test_config_validation.py
  tests/models/test_model_config_spec.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Split component registries into typed Featurizer and Predictor subclasses.
  drevalpy/components/registry/__init__.py
  drevalpy/components/registry/_contracts.py
  drevalpy/components/registry/_metadata_validate.py
  drevalpy/components/registry/common.py
  drevalpy/components/registry/core.py
  drevalpy/components/registry/lookup.py
  tests/components/registry/test_core.py
  tests/components/registry/test_metadata.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Split registry classes into base, featurizer, and predictor modules.
  drevalpy/components/registry/__init__.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/core.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_base.py
  tests/components/registry/test_core.py
  tests/components/registry/test_featurizer.py
  tests/components/registry/test_metadata.py
  tests/components/registry/test_predictor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Drop cell-line/drug featurizer registry subclasses.
  drevalpy/components/registry/__init__.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/core.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_core.py
  tests/components/registry/test_featurizer.py
  tests/components/registry/test_metadata.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Keep registry metadata tags as frozensets instead of CSV strings.
  drevalpy/components/registry/base.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/lookup.py
  drevalpy/components/registry/metadata.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_core.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: make the Kendall CNV similarity independent of the cohort
  drevalpy/models/GCMF/gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: document the ValueError raised for a relation table with no feature column
  drevalpy/models/GCMF/gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

GCMF: train the smoke test on the measured TOYv1 responses, not random targets
  tests/test_gcmf.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Drop the registry core re-export shim and inline trivial helpers.
  drevalpy/components/extensions.py
  drevalpy/components/register_builtins.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/core.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/lookup.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_base.py
  tests/components/registry/test_lookup.py
  tests/components/test_boundary.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Drop public registry clear helpers and tidy registry naming.
  .gitignore
  drevalpy/components/registry/__init__.py
  drevalpy/components/registry/_metadata_validate.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/lookup.py
  drevalpy/components/registry/metadata.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_builtin_featurizer_contracts.py
  tests/components/registry/test_lookup.py
  tests/components/test_boundary.py
  tests/components/test_extensions.py
  tests/models/test_config_validation.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Tighten registry metadata validation around frozenset tags.
  drevalpy/components/registry/_metadata_validate.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/metadata.py
  drevalpy/components/registry/predictor.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Require feature contracts via registration, not class bodies.
  drevalpy/components/featurizers/base.py
  drevalpy/components/predictors/base.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/predictor.py
  tests/components/featurizers/test_base.py
  tests/components/predictors/test_base.py
  tests/components/predictors/test_feature_dataset_block.py
  tests/components/predictors/test_single_drug_block.py
  tests/components/registry/test_lookup.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Validate registration kwargs before creating the decorator.
  drevalpy/components/registry/_metadata_validate.py
  drevalpy/components/registry/_registration_metadata.py
  drevalpy/components/registry/base.py
  drevalpy/components/registry/featurizer.py
  drevalpy/components/registry/predictor.py
  tests/components/registry/test_base.py
  tests/components/registry/test_metadata.py
  tests/components/registry/test_registration_metadata.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Slim catalog metadata to the fields discovery and docs actually use.
  drevalpy/components/registry/lookup.py
  drevalpy/components/registry/metadata.py
  tests/components/registry/test_lookup.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
