Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

NME baseline ALWAYS
  dreval_colab_demo.ipynb
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

dont need it doubled
  dreval_colab_demo.ipynb
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

delete output
  dreval_colab_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

testing notebooks is annoying
  tests/test_demo.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

clean demo
  dreval_colab_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

mypy
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

type
  README.md
Due: end-of-file-fixer, trailing-whitespace

rm nbformat. not needed anymore
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

harmonize curve curator args with pipeline
  docs/usage.rst
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

curve curatingggggg
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix test
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

docu
  docs/usage.rst
Due: none

changes in template
  .github/pull_request_template.md
Due: end-of-file-fixer, trailing-whitespace

chore
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated requirements
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

flaky loading tests
  tests/test_available_data.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated requirements
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

deploy: dfd351f95927cf8bf6f99609ba5ed589a3ee899c
  .buildinfo
  API.html
  _key_contributors.html
  _sources/contributing.rst.txt
  _sources/installation.rst.txt
  _sources/quickstart.rst.txt
  _sources/runyourmodel.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: end-of-file-fixer, trailing-whitespace

definition file for singularity/apptainer
  Singularity
Due: end-of-file-fixer, trailing-whitespace

updating to scipy 1.16.0 because of statsmodel fix
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

weird flake8 error because of load_dataset - it thought we are downloading from huggingface. Ignoring
  .pre-commit-config.yaml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

docs editable install. also no need to be in root anymore
  docs/runyourmodel.rst
Due: none

updated requirement of poetry
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

updated poetry version in Dockerfile
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

added dependabot label, updated requests, jaraco-functools, pbs-installer
  .github/labels.yml
  poetry.lock
  requirements.txt
Due: check-yaml, end-of-file-fixer, trailing-whitespace

version update
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

More visibility for the Fold print
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new versions
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

what a miss
  drevalpy/visualization/critical_difference_plot.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

feat: Add PaccMann model
  drevalpy/models/__init__.py
  drevalpy/models/paccmann/hyperparameters.yaml
  drevalpy/models/paccmann/paccmann.py
  drevalpy/models/paccmann/paccmann_predictor/assets/paccmann.png
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/__init__.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/models/__init__.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/models/dense.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/models/paccmann.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/utils/__init__.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/utils/hyperparams.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/utils/layers.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/utils/loss_functions.py
  drevalpy/models/paccmann/paccmann_predictor/paccmann_predictor/utils/utils.py
  drevalpy/models/utils.py
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Change p-value adjustment method to fdr_bh
  drevalpy/visualization/critical_difference_plot.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

init
  drevalpy/models/__init__.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

beataml2
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

beataml2 av datasets
  drevalpy/datasets/loader.py
  tests/test_available_data.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

softcode stuff
  docs/runyourmodel.rst
  drevalpy/datasets/loader.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix str
  drevalpy/models/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

edge cases fixing
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
