Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-added-large-files:
  name: Check for added large files
  entry: check-added-large-files
  language: system

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: system
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901,N803,N806,S615

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

cleaning
  drevalpy/models/DrugGNN/utils.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

speed update
  drevalpy/models/DrugGNN/drug_gnn.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

new versions
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

plots for basic stats about the curated response datasets
  .gitignore
  publication_figures/data_distributions.R
Due: check-added-large-files, end-of-file-fixer

investigate CTRPv2 AUCs
  publication_figures/data_distributions.R
Due: check-added-large-files, end-of-file-fixer

Text update for report w.r.t. p-value correction.
  .gitignore
  drevalpy/visualization/critical_difference_plot.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

raytune fix and tests
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

readme
  README.md
Due: check-added-large-files, end-of-file-fixer

docstring
  drevalpy/experiment.py
  tests/test_hpam_tune.py
  tests/test_hpam_tune_raytune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

thanks judith
  .github/workflows/run_tests.yml
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Update drevalpy/experiment.py
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

ray TUNE
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

ray TUNEEE
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

starlette'
  poetry.lock
  pyproject.toml
Due: check-added-large-files, check-toml, end-of-file-fixer

relax safety
  .github/workflows/safety_scan.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

safetynr2
  .github/workflows/safety_scan.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

safety
  .safety-policy.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

remove safety for now
  .github/workflows/safety_scan.yml
  .safety-policy.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Dupdate workflow add multiprocessing
  .github/workflows/run_tests.yml
  tests/test_hpam_tune.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

workflow no cude
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

gpu needs 4gb or something
  .github/workflows/run_tests.yml
  pyproject.toml
Due: check-added-large-files, check-toml, check-yaml, end-of-file-fixer

poetry locjk
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

update workflow
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

skip ray test
  .github/workflows/run_tests.yml
  noxfile.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

typeguard exclude ray
  noxfile.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

skip ray
  tests/test_hpam_tune_raytune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

featurizer molgnet
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

chemberta rename
  drevalpy/datasets/featurizer/create_drug_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

rename
  drevalpy/datasets/featurizer/create_chemberta_drug_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

peotry
  poetry.lock
Due: check-added-large-files, end-of-file-fixer

updated visualization script
  publication_figures/tables_and_sup_figs.R
Due: check-added-large-files, end-of-file-fixer

Update drevalpy/datasets/featurizer/create_molgnet_embeddings.py
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

types
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

restructured data loading, included PDX_Bruna, updated documentation
  docs/usage.rst
  drevalpy/datasets/loader.py
  tests/test_available_data.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

updated versions
  docs/requirements.txt
  poetry.lock
  requirements.txt
Due: check-added-large-files, end-of-file-fixer

fail fast true
  .github/workflows/run_tests.yml
Due: check-added-large-files, check-yaml, end-of-file-fixer

adapt: gene lists are now located in meta
  .github/workflows/run_tests.yml
  drevalpy/datasets/loader.py
  drevalpy/models/utils.py
  tests/test_drp_model.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

fix: added tissue, comment raytune out for the moment
  drevalpy/datasets/loader.py
  tests/test_hpam_tune_raytune.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

added pydantic because of https://github.com/ray-project/ray/pull/58354 until new ray version
  poetry.lock
  pyproject.toml
  requirements.txt
  tests/test_hpam_tune_raytune.py
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Path conditions:
  black: any of: \.py$
  check-added-large-files: any file but: ^dreval_demo\.ipynb$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
