Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

fixed evaluation bug, updated test
  drevalpy/evaluation.py
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor mypy fixes
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new drevalpy version, new package versions
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

typeguard fix
  drevalpy/visualization/utils.py
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

typeguard fix
  tests/individual_models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 5b1ce9ea09515e4767983e67cbd6f030146bccdd
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

MOLIR, SuperFELTR: removed variancethreshold selection. Now always selecting min(1000,n_features) most variable features from the training dataset.
  create_report.py
  docs/conf.py
  drevalpy/datasets/dataset.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/MOLIR/utils.py
  drevalpy/models/SuperFELTR/hyperparameters.yaml
  drevalpy/models/SuperFELTR/superfeltr.py
  poetry.lock
  pyproject.toml
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated requirements.txt
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

something is wrong with the building
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml, end-of-file-fixer, trailing-whitespace

append path
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

roll back to pipx?
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

adding plugin again
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

updating poetry lock
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

removed partial correlation from tests
  tests/test_evaluation.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

adjustments for visualization. Attention: not bug free * modified critical difference plot * debug version for run_suite * normalized values from NaiveMeanEffects
  create_report.py
  drevalpy/experiment.py
  drevalpy/utils.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/html_tables.py
  drevalpy/visualization/style_utils/page_layout.html
  drevalpy/visualization/utils.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed labels and added SSMD
  drevalpy/visualization/heatmap.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

size and label change
  drevalpy/visualization/heatmap.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

standard errors part of the plots
  drevalpy/visualization/heatmap.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

add MSE SSMD and sort according to max SSMD
  drevalpy/visualization/heatmap.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cross study evaluation - unfinished
  create_report.py
  drevalpy/evaluation.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/html_tables.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

cs_tables work now.
  create_report.py
  drevalpy/visualization/__init__.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

minor visual fixes and saving cross study evaluation data
  drevalpy/visualization/cross_study_tables.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

forced NaiveMeanEffectsPredictor
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

refractoring and normalized metrics
  create_report.py
  drevalpy/visualization/cross_study_tables.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

decluttering
  create_report.py
  drevalpy/visualization/corr_comp_scatter.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new normalized regression sliders
  create_report.py
  drevalpy/visualization/regression_slider_plot.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed slider
  drevalpy/visualization/regression_slider_plot.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed slider pt 2
  drevalpy/visualization/regression_slider_plot.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 89f399b466f4cd0846b721da092d92a5e898f597
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

computing normalized metrics
  README.rst
  create_report.py
  docs/usage.rst
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

adding result path
  create_report.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix logic when no baseline is selected
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed randomization. tried to randomize cell line views of drug features
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

pub figs
  publication_figures/results_table.ipynb
  publication_figures/simpsons.ipynb
Due: end-of-file-fixer, trailing-whitespace

simpsons now in 4x4 fig
  publication_figures/simpsons.ipynb
Due: end-of-file-fixer, trailing-whitespace

plotting
  publication_figures/simpsons.ipynb
  publication_figures/variance_decomposition.ipynb
Due: end-of-file-fixer, trailing-whitespace

updated decomp
  publication_figures/variance_decomposition.ipynb
Due: end-of-file-fixer, trailing-whitespace

new version
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 7c183914f35c67bca606b49619e6bfd1f1d0fc62
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
