Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

updating documentation to python 3.13
  .github/workflows/run_tests.yml
  docs/contributing.rst
  docs/installation.rst
  docs/requirements.txt
  poetry.lock
Due: check-yaml, end-of-file-fixer, trailing-whitespace

merged
  docs/requirements.txt
Due: none

floating point comparison
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

trying hard to fix pre commit issue
  .pre-commit-config.yaml
  drevalpy/visualization/style_utils/index_layout.html
  drevalpy/visualization/style_utils/page_layout.html
Due: check-yaml, end-of-file-fixer, trailing-whitespace

trying hard to fix pre commit issue2
  README.md
Due: end-of-file-fixer, trailing-whitespace

prettier
  .pre-commit-config.yaml
  drevalpy/visualization/style_utils/index_layout.html
  drevalpy/visualization/style_utils/page_layout.html
Due: check-yaml, end-of-file-fixer, trailing-whitespace

deepseek lets go
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

show diffs of pre commit hooks
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Does the pre-commit version help?
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

meaningless chagne
  README.md
Due: end-of-file-fixer, trailing-whitespace

Update workflow from development branch
  .github/workflows/build_package.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

restore pipeline
  .github/workflows/run_tests.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

verbose test
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

trying to fix the windows test on mac
  drevalpy/models/utils.py
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

test verbose
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Removing the pre-commit version again
  noxfile.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

debugging online :o
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

the math was not mathing
  tests/models/test_baselines.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

getting ready for version 1.3.2
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

some details run your model
  docs/drevalpy.datasets.rst
  docs/runyourmodel.rst
Due: none

example nn
  docs/runyourmodel.rst
Due: none

updated installation, news, quickstart, readme, reference
  README.md
  README.rst
  docs/installation.rst
  docs/news.rst
  docs/quickstart.rst
  docs/reference.rst
Due: end-of-file-fixer, trailing-whitespace

updated usage
  docs/usage.rst
Due: none

new meme
  docs/_static/memes/ci_prettier.png
  docs/memes.rst
Due: none

proteomics
  docs/runyourmodel.rst
Due: none

docu update
  docs/runyourmodel.rst
Due: none

imports were missing
  docs/runyourmodel.rst
Due: none

further fixes
  docs/runyourmodel.rst
Due: none

docu
  docs/runyourmodel.rst
Due: none

doc
  docs/runyourmodel.rst
Due: none

trans standard
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/__init__.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

typos, more documentation on run your model
  README.rst
  docs/installation.rst
  docs/runyourmodel.rst
  docs/usage.rst
Due: end-of-file-fixer, trailing-whitespace

Included example files
  docs/_static/example_data/fingerprints_example.csv
  docs/_static/example_data/gex_example.csv
  docs/runyourmodel.rst
Due: none

more docu
  docs/runyourmodel.rst
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Included example file for drp data, casting id to string in from_csv, forgot to pass on the dataset_name in load_custom, mentioning utility functions
  docs/_static/example_data/response_example.csv
  docs/runyourmodel.rst
  docs/usage.rst
  drevalpy/datasets/dataset.py
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

ah the Dockerfile was still python 3.11
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

updated dockerfile, also adding unzip
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

new version for docker
  docs/conf.py
  pyproject.toml
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

deploy: 1d2687169236e3a04809c36c9b985610ad3e9a60
  .buildinfo
  API.html
  _key_contributors.html
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  usage.html
Due: end-of-file-fixer, trailing-whitespace
