Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

black:
  name: black
  entry: black
  language: python
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: python

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: python

end-of-file-fixer:
  name: Fix End of Files
  entry: end-of-file-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true
  args:
  - --ignore=D212,W503,C901

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py39-plus
  - --keep-runtime-typing

trailing-whitespace:
  name: Trim Trailing Whitespace
  entry: trailing-whitespace-fixer
  language: python
  stages:
  - pre-commit
  - pre-push
  - manual

Implemented ProteomicsRF
  docs/runyourmodel.rst
  docs/usage.rst
  drevalpy/models/__init__.py
  drevalpy/models/baselines/hyperparameters.yaml
  drevalpy/models/baselines/sklearn_models.py
  tests/individual_models/test_baselines.py
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix measure being not picked for datasets
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix test
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

allowed measures defined and check for allowed measure for graceful failure
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

linked report and fixed group link
  README.md
Due: end-of-file-fixer, trailing-whitespace

typing fix
  drevalpy/datasets/loader.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated feature documentation
  docs/usage.rst
Due: none

Create tables_and_sup_figs.R
  publication_figures/tables_and_sup_figs.R
Due: end-of-file-fixer, trailing-whitespace

various fixes to visualization
  create_report.py
  drevalpy/visualization/__init__.py
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/html_tables.py
  drevalpy/visualization/outplot.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/utils.py
  drevalpy/visualization/vioheat.py
  drevalpy/visualization/violin.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing mypy and typeguard
  create_report.py
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/outplot.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/vioheat.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

moved functions to visualization.utils
  create_report.py
  drevalpy/visualization/utils.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

changed return type from list to numpy array
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

adapted tests for more coverage
  drevalpy/visualization/utils.py
  tests/individual_models/test_global_models.py
  tests/individual_models/test_neural_networks.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy error
  drevalpy/visualization/style_utils/favicon.png
  tests/individual_models/test_global_models.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new versions, new safety check
  .github/workflows/run_tests.yml
  .github/workflows/safety_scan.yml
  noxfile.py
  poetry.lock
  requirements.txt
Due: black, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

removed ray for safety
  poetry.lock
  pyproject.toml
Due: check-toml, end-of-file-fixer, trailing-whitespace

new design
  drevalpy/visualization/style_utils/favicon.png
  drevalpy/visualization/style_utils/page_layout.html
Due: end-of-file-fixer, trailing-whitespace

added drug name and cellosaurus id to the result files and to the plots
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

forgot to push this change to create_report
  create_report.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

swapping lco, ldo
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

LTO first commit
  drevalpy/datasets/dataset.py
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update drevalpy/datasets/dataset.py
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Update README.md
  README.md
Due: end-of-file-fixer, trailing-whitespace

fixed mypy and test_run_suite
  drevalpy/visualization/utils.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

new versions
  poetry.lock
  requirements.txt
Due: end-of-file-fixer, trailing-whitespace

typo
  setup.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

utils
  drevalpy/datasets/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

addressing @PascalIversen 's comments
  create_report.py
  drevalpy/experiment.py
  drevalpy/utils.py
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/outplot.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/utils.py
  drevalpy/visualization/vioheat.py
  drevalpy/visualization/violin.py
  tests/test_dataset.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

changed argument back
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing LTO splits
  drevalpy/datasets/dataset.py
  drevalpy/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

to_dataframe fix
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

small fix to drug names
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

map tissue function
  drevalpy/datasets/map_tissues.py
  drevalpy/datasets/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed some dataset functions to work with tissues
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

function simplification to avoid code copying
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixed mypy
  drevalpy/datasets/dataset.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix nan response
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix np array stuff
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  end-of-file-fixer: any file but: docs/
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  trailing-whitespace: any file but: docs/
