Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-added-large-files, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        exclude: ^dreval_demo\.ipynb$
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901,N803,N806,S615
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace

update plots again again
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

update plots again again
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
Due: check-added-large-files

Update drevalpy/visualization/create_leaderboard.py
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

more changes to the plot
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

capitalized N
  drevalpy/visualization/create_leaderboard.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

capitalized N
  docs/_static/img/leaderboard_dark.png
  docs/_static/img/leaderboard_light.png
Due: check-added-large-files

deploy: 6b605982200758a76dc785c02ee183e27e2a8ccf
  .buildinfo
  API.html
  _key_contributors.html
  _sources/_key_contributors.rst.txt
  _sources/usage.rst.txt
  _static/documentation_options.js
  _static/img/DrugResponseEvalLogo.svg
  _static/img/leaderboard_dark.png
  _static/img/leaderboard_light.png
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.DrugGNN.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: check-added-large-files, end-of-file-fixer

Add docs
  docs/drevalpy.models.PharmaFormer.rst
  docs/drevalpy.models.rst
Due: check-added-large-files

Add warning for featurizer
  drevalpy/datasets/featurizer/create_pharmaformer_drug_embeddings.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Update pharmaformer drug featurizer references
  drevalpy/models/PharmaFormer/pharmaformer.py
  tests/conftest.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Adding Naive Tissue Drug Mean Predictor + PharmaFormer to the overview image
  docs/_static/img/overview.png
Due: check-added-large-files

Fix typing issues
  drevalpy/datasets/featurizer/cell_line/base.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Improve featurizer structure
  drevalpy/datasets/featurizer/__init__.py
  drevalpy/datasets/featurizer/cell_line/__init__.py
  drevalpy/datasets/featurizer/cell_line/base.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/create_chemberta_drug_embeddings.py
  drevalpy/datasets/featurizer/create_drug_graphs.py
  drevalpy/datasets/featurizer/create_molgnet_embeddings.py
  drevalpy/datasets/featurizer/create_transcriptome_pca.py
  drevalpy/datasets/featurizer/drug/__init__.py
  drevalpy/datasets/featurizer/drug/base.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix production dataset colname issue
  drevalpy/datasets/featurizer/cell_line/pca.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add PCA featurizer
  drevalpy/datasets/featurizer/create_transcriptome_pca.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix failing tests
  .gitignore
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  tests/test_featurizers.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Remove redundant get_model_name functions
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/SRMF/srmf.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SuperFELTR/superfeltr.py
  drevalpy/models/baselines/multi_omics_random_forest.py
  drevalpy/models/baselines/naive_pred.py
  drevalpy/models/baselines/singledrug_elastic_net.py
  drevalpy/models/baselines/singledrug_random_forest.py
  drevalpy/models/baselines/sklearn_models.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add PCA neural network
  drevalpy/models/SimpleNeuralNetwork/hyperparameters.yaml
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/__init__.py
  tests/models/test_global_models.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Implement featurizer mixins
  drevalpy/datasets/featurizer/__init__.py
  drevalpy/datasets/featurizer/cell_line/__init__.py
  drevalpy/datasets/featurizer/cell_line/pca.py
  drevalpy/datasets/featurizer/drug/__init__.py
  drevalpy/datasets/featurizer/drug/chemberta.py
  drevalpy/datasets/featurizer/drug/drug_graph.py
  drevalpy/datasets/featurizer/drug/molgnet.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Add wandb logging
  drevalpy/experiment.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/MOLIR/utils.py
  drevalpy/models/PharmaFormer/pharmaformer.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
  drevalpy/models/SuperFELTR/superfeltr.py
  drevalpy/models/SuperFELTR/utils.py
  drevalpy/models/drp_model.py
  poetry.lock
  pyproject.toml
Due: black, check-added-large-files, check-toml, end-of-file-fixer, flake8, pyupgrade

Update deprecated re-init option
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Improve gitignore
  .gitignore
Due: check-added-large-files, end-of-file-fixer

Simplify wandb implementation
  drevalpy/experiment.py
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/MOLIR/molir.py
  drevalpy/models/MOLIR/utils.py
  drevalpy/models/PharmaFormer/pharmaformer.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/utils.py
  drevalpy/models/SuperFELTR/superfeltr.py
  drevalpy/models/SuperFELTR/utils.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Simplify wandb implementation
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Test Judith's proposed fix
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Update CI isort version
  .pre-commit-config.yaml
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Attempt changing pre-commit isort config
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Try making isort diff visible in CI
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Revert pre-commit config changes
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Remove isort diff arg
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Add back isort diff arg
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Also add check arg
  .pre-commit-config.yaml
Due: check-added-large-files, check-yaml, end-of-file-fixer

Attempt fixing isort issue
  .pre-commit-config.yaml
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, check-yaml, end-of-file-fixer, flake8, pyupgrade

Fix mypy
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make hyperparameters non-optional
  drevalpy/models/DrugGNN/drug_gnn.py
  drevalpy/models/SimpleNeuralNetwork/multiomics_neural_network.py
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
  drevalpy/models/drp_model.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Fix dataset loading from cache
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Make sure datasets are copied properly
  drevalpy/experiment.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade

Revert "Fix dataset loading from cache"
  drevalpy/datasets/dataset.py
Due: black, check-added-large-files, end-of-file-fixer, flake8, pyupgrade
