Repository daisybio/drevalpy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
        require_serial: true
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: python
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: python
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: python
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: python
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        stages: [pre-commit, pre-push, manual]
        exclude: docs/
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
        require_serial: true
        args:
          - --ignore=D212,W503,C901
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [python]
        args: [--py39-plus, --keep-runtime-typing]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.5.1
    hooks:
      - id: prettier
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
      - id: isort
        name: isort (cython)
        types: [cython]
      - id: isort
        name: isort (pyi)
        types: [pyi]

drug_features.copy()
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

final_model_path
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added to_csv metainfo save and corresponding tests adapted
  drevalpy/datasets/dataset.py
  tests/test_dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

final model for more test coverage
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

default dict
  drevalpy/datasets/dataset.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added response transformation to test and better none typing
  drevalpy/utils.py
  tests/test_run_suite.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

Updated versions, getting ready for new release
  .github/workflows/build_package.yml
  .github/workflows/run_tests.yml
  docs/conf.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: black, check-toml, check-yaml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

how to make a release in PR template
  .github/pull_request_template.md
Due: end-of-file-fixer, trailing-whitespace

updated API stuff
  docs/drevalpy.datasets.rst
  docs/drevalpy.models.baselines.rst
  docs/drevalpy.visualization.rst
Due: none

forgot to copy drug features here
  drevalpy/experiment.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

prevent silent curve curator failures
  drevalpy/datasets/curvecurator.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

scipy 1.16.0 does not work yet
  poetry.lock
  pyproject.toml
  requirements.txt
Due: check-toml, end-of-file-fixer, trailing-whitespace

deploy: 27ca39bfcc0b491a68591290c3a546175ae85f5d
  .buildinfo
  API.html
  _key_contributors.html
  _sources/drevalpy.datasets.rst.txt
  _sources/drevalpy.models.baselines.rst.txt
  _sources/drevalpy.visualization.rst.txt
  _static/documentation_options.js
  contributing.html
  drevalpy.datasets.html
  drevalpy.models.DIPK.html
  drevalpy.models.MOLIR.html
  drevalpy.models.SRMF.html
  drevalpy.models.SimpleNeuralNetwork.html
  drevalpy.models.SuperFELTR.html
  drevalpy.models.baselines.html
  drevalpy.models.html
  drevalpy.visualization.html
  genindex.html
  index.html
  installation.html
  memes.html
  news.html
  objects.inv
  quickstart.html
  readme.html
  reference.html
  runyourmodel.html
  search.html
  searchindex.js
  usage.html
Due: end-of-file-fixer, trailing-whitespace

Delete basic_env.yml
  basic_env.yml
Due: check-yaml, end-of-file-fixer, trailing-whitespace

Update README.md for installation time information
  README.md
Due: end-of-file-fixer, trailing-whitespace

Colab demo for nextflow
  .pre-commit-config.yaml
  README.md
  demo.config
  dreval_demo.ipynb
Due: check-yaml, end-of-file-fixer, trailing-whitespace

typo
  README.md
Due: end-of-file-fixer, trailing-whitespace

colab does not have access to the demo config. Writing it in the colab.
  dreval_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

colab does not have access to the demo config. Writing it in the colab.
  demo.config
Due: end-of-file-fixer, trailing-whitespace

More information on nextflow
  dreval_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

colab demo renaming
  README.md
  dreval_colab_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

expected runtime for demo
  dreval_colab_demo.ipynb
Due: end-of-file-fixer, trailing-whitespace

CLI first commit (drevalpy --help and drevalpy-report --help
  create_report.py
  drevalpy/cli.py
  drevalpy/visualization/create_report.py
  pyproject.toml
  run_suite.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

mypy
  drevalpy/visualization/create_report.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

added commands to reproce results
  README.md
Due: end-of-file-fixer, trailing-whitespace

Rename tests/test_run_suite.py to tests/test_main.py
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

changed to MIT license
  LICENSE
Due: end-of-file-fixer, trailing-whitespace

Delete GPL3 license
  LICENSE.txt
Due: end-of-file-fixer, trailing-whitespace

test update
  tests/test_main.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fixing typeguard
  drevalpy/visualization/create_report.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updating which functions are used in the pipeline
  drevalpy/datasets/dataset.py
  drevalpy/datasets/loader.py
  drevalpy/datasets/utils.py
  drevalpy/experiment.py
  drevalpy/models/drp_model.py
  drevalpy/utils.py
  drevalpy/visualization/comp_scatter.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/cross_study_tables.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/regression_slider_plot.py
  drevalpy/visualization/utils.py
  drevalpy/visualization/violin.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

updated quickstart
  README.md
Due: end-of-file-fixer, trailing-whitespace

fixing mypy
  drevalpy/experiment.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

fix nn for small datasets
  drevalpy/README.md
  drevalpy/models/SimpleNeuralNetwork/simple_neural_network.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

docu
  docs/installation.rst
  docs/quickstart.rst
  docs/usage.rst
Due: none

docu2
  docs/contributing.rst
  docs/runyourmodel.rst
  docs/usage.rst
  drevalpy/visualization/comp_scatter.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

update docker.
  Dockerfile
Due: end-of-file-fixer, trailing-whitespace

test demo
  dreval_colab_demo.ipynb
  pyproject.toml
  tests/test_demo.py
Due: black, check-toml, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace

peotry LOCK
  poetry.lock
Due: end-of-file-fixer, trailing-whitespace

fixes, more error handling
  dreval_colab_demo.ipynb
  drevalpy/experiment.py
  drevalpy/visualization/critical_difference_plot.py
  drevalpy/visualization/heatmap.py
  drevalpy/visualization/utils.py
Due: black, end-of-file-fixer, flake8, pyupgrade, trailing-whitespace
